/* Formulario de contacto */
.form-contact {
  margin: 1em 60px;
  max-width: 90%;
  padding: 50px 0;
  width: 500px;

}

/* Título formulario de contacto */
.form-contact .title-form-contact {
  color: #404040;
  font: bold 2em 'Dancing Script', sans-serif;
  margin-bottom: 50px;
  text-align: center;
}

/* Contenedor inputs formulario de contacto */
.form-contact .ctn-inputs {
  margin-bottom: 50px;
  position: relative;
}

/* Contenedor inputs para los que van 2 en la misma columna formulario de contacto */
.form-contact .ctn-middle {
  display: inline-block;
  margin-right: 10px;
  width: calc(49% - 10px);
}


/* Estilo del autocompletar en los inputs formulario de contacto */
.form-contact .ctn-inputs .effect-input:-webkit-autofill,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:hover,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:focus,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px #f2f2f2 inset;
}

/* Labels formulario de contacto */
.form-contact .ctn-inputs .support-text-form-contact {
  color: #999999;
  font: normal 14px 'Nunito Sans', sans-serif;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.3s ease all;
  user-select: none;
}

/* Efecto labels cuando el input esta en estado focus o valido Formulario de contacto */
.form-contact .ctn-inputs .support-text-form-contact.active-input-form-contact {
  color: #505050;
  font-size: 12px;
  top: -20px;
}

/* Inputs formulario contacto */
.form-contact .ctn-inputs .effect-input {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-bottom: 1px solid #a4a4a4;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  padding: 1em 20px 1em 5px;
  text-transform: lowercase;
  width: 100%;
}

.form-contact .ctn-inputs .effect-input.inline-block {
  display: inline-block;
}

/* Barra de los inputs para el efecto formulario de contacto */
.form-contact .ctn-inputs .bar-input-effect:before {
  content: '';
  background-color: #000000;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: 0.3s ease all;
  width: 0;
}

.form-contact .ctn-inputs .bar-input-effect {
  display: block;
  position: relative;
}

/* Input de los nombres */
#contact_name_user_grupoamsi {
  text-transform: capitalize;
}

/* Estilos de los inputs del formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid {
  border-bottom-color: #f53535;
}

/* Estilos de la línea inferior sobre la que esta la letra de los inputs del formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect:before {
  background-color: #f53535;
}

/* Efecto en la barra para cuando el input esta en estado focus o valido */
.form-contact .ctn-inputs .bar-input-effect.active-input-form-contact:before {
  width: 100%;
}

/* Icono limpiar input formulario de contacto */
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon {
  bottom: 1rem;
  color: #7a7a7a;
  cursor: pointer;
  display: none;
  font-size: 12px;
  position: absolute;
  right: 1%;
}

/* Efecto hover al icono de limpiar input formulario de contacto */
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:hover,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:focus,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:active {
  color: #4a4a4a;
}

/* Icono limpiar input formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon {
  color: #f15555;
}

/* Efecto hover al icono limpiar input formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon:hover,
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon:focus,
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon:active {
  color: #f14040;
}

/* Texto indicativo del error del input */
.form-contact .ctn-inputs .error-input-form-contact {
  color: #f35252;
  display: inline-block;
  font: normal 12px 'Nunito Sans', sans-serif;
  line-height: 15px;
  position: relative;
  top: 5px;
}

.form-contact .ctn-btns-form-contact {
  display: flex;
  justify-content: space-around;
}

/* Botones Formulario */
.btn-form-contact {
  background-color: #404040;
  border-radius: 2px;
  border-style: none;
  box-shadow: 1px 0px #202020,
              0px 1px #202020,
              2px 1px #202020,
              1px 2px #202020,
              3px 2px #202020,
              2px 3px #202020,
              4px 3px #202020,
              3px 4px #202020,
              5px 4px #202020,
              4px 5px #202020,
              6px 5px #202020,
              5px 6px #202020;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font: normal 12px 'Montserrat', sans-serif;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.3s ease all;
}

/* Hover botón sección ayuda, botón formulario de contacto y botón de cerrar en el footer de los modales */
.btn-form-contact:hover,
.btn-form-contact:focus {
  background-color: #5a5a5a;
}

/* Efecto cuando dan click en el botón sección ayuda, botón formulario de contacto y botón de cerrar en el footer de los modales */
.btn-form-contact:active {
  box-shadow: 1px 0px #202020,
              0px 1px #202020,
              2px 1px #202020,
              1px 2px #202020,
              3px 2px #202020,
              2px 3px #202020,
              4px 3px #202020,
              3px 4px #202020;
  transform: translate(2px);
}

/* Animación de temblar de un lado a otro */
.shake {
  animation: shake 1s 1;
}

/* Animación de los mensajes de error en el formulario de conctacto web contacto */
@keyframes shake {
  0%,
  100% {
    transform: translateZ(0px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}
