*{
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "sidebar main-container"
  "sidebar main-container"
}

.sidebar{
  grid-area: sidebar;
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #FAFAFA;
  transition: 0.3s;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 5px 10px 20px #ccc;
}

::-webkit-scrollbar {
    width:0px;
    background: #EEEEEE;

}



.main-container{
  grid-area: main-container;
  position: absolute;
  width: 80%;
  height: 100vh;
  top: 0;
  left: 20%;
  transition: 0.3s;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #EEEEEE;
  box-shadow: 5px 10px 20px inset #ccc;

}

.sidebar ul li {
  display: block;
  margin-top: 15px;
  padding:10px;
  list-style-type: none;
}

.sidebar ul li:hover{
  background: #E0E0E0;
}


.sidebar ul li a{
  font-size: 15px;
  color:#000;
  text-decoration: none;
}

.sidebar ul li i{
  margin-right: 30px;
  font-size: 20px;
}


.sidebar-title{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #000
}
.sidebarlogo1
{
  width:100%;
  height:100%;
}

.sidebarlogo2
{
  display: none;
}

.nav{
  background: #03A9F4;
  padding:10px;
  height: 20px;
}

nav ul{
  margin:0px;
  padding: 0px;
}

nav ul li{
  list-style-type: none;
  float: left;
}

nav ul li a{
  text-decoration: none;
  color:#333;
  font-size: 17px;
}

.nav-left #menu_icon span:before{
  content:'\2630';
  color: white;
}

.menus{
  float: left;
  position: absolute;
  right: 0px;
  margin-right: 30px;
}

.menus button{
  background: inherit;
  border: none;
  cursor: pointer;
}

.menus i{
  color:white;
  font-size:15px;
  margin:0 20px;
}


.cont .sidebar{
  width: 5%;
  transition: 0.3;
}

.cont .fa-caret-down {
  display: none;
}

.cont .dropdown-btn{
  padding: 0 0 0 4px;
  white-space: nowrap;
  overflow: hidden;
}

.cont .dropdown-container{
  padding: 0 0 0 4px;
  background: inherit;
}

.cont .dropdown-btn:hover{
  background:inherit;
}

.cont .sidebar li:hover{
  background: white;
}

.cont #actee{
  background: white;
}
#actee{
  background:#E0E0E0;
}
.cont .sidebar .sidebar-title{
  height: 30px;
}

.cont .sidebar .sidebarlogo1{
  display: none;
}

.cont .sidebar .sidebarlogo2{
  display: block;
  width: 100%;
  height: 100%;
}

.cont .sidebar ul{
  margin-top: 40px;
  padding: 0px;
  margin-left: 0px;
}
.sidebar span{
  margin-left: 20px;
}

.cont .sidebar li{
  padding: 0px;
  margin-left: 4px;
}


.cont .main-container{
  width: 95%;
  transition: 0.3;
  left: 5%;
}

.nav-left li:nth-child(2){
  float: left;
  position: absolute;
  top: 1%;
  right: 35%;
}

.nav-left  li:nth-child(3){
  float: left;
  position: absolute;
  top: 1%;
  right: 20%;
}

.nav-left  li:nth-child(4){
  float: left;
  position: absolute;
  top: 1%;
  right: 15%;

}


.nav-left  li:nth-child(5){
  float: left;
  position: absolute;
  top: 1%;
  right: 10%;
}

.nav-left  li:nth-child(6){
  float: left;
  position: absolute;
  top: 1%;
  right: 5%;
}

.main-content-1{
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 5px 10px 20px inset #ccc;
}

/*#search i{
  position: relative;
  left: 3%;
  top:1%;
}

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }

*/

    .tabcontent {
        color: white;
        display:block;
        height: 100%;
        border-radius: 10px;
        background: #EEEEEE;
    }

    .tabcontent-based{
      width: 100%;
      height: 1000px;
      border: 0px solid;
      padding: 10px;
      box-shadow: 5px 10px 20px inset #ccc;
      background: #EEEEEE;
    }


.fa-caret-down {
    float: right;
    color: black;
}



.dropdown-container {
    display: none;
    background: #E0E0E0;
    padding-left: 8px;
    margin:0px;
}

.active {
    background-color: green;
    color: white;
}

.dropdown-btn {
    padding: 10px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.dropdown-btn i{
  margin-right: 23px;
  font-size: 20px;
}

.dropdown-btn:hover,.active{
  background: #E0E0E0;
}



#Home {
  padding: 0px;
  margin:0px;
  width: 100%;
  height: 100%;
  background: #EEEEEE;
}

.home-based{
  background: inherit;
  width: 70%;
  height: 500px;
  color:black;
  float: left;
}

.home-based div{
  margin-top:30px;
  margin-left: 30px;
}

.home-based div h1{
  margin-top: 10px;
  font-size: 40px;
}

.home-based .tixt h3{
  margin-top: 20px;
  font-size: 15px;
}

.home-based .txxt h3{
  font-size: 25px;
}

.home-based a{
  text-decoration: none;
  color: black;
}

.home-basedd{
  background: inherit;
  width: 100%;
  height: 500px;
  color:black;
  float: left;
}

.home-basedd div{
  margin-top:30px;
  margin-left: 30px;
}

.home-basedd .txxt h3{
  font-size: 20px;
}

.home-basedd a{
  text-decoration: none;
  color: black;
}


.home-left-content{
  width: 45%;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;
}

.icun{
  background: #E53935;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 6px -6px #aaa;
  float: left;
  color: white;
}

.icun2{
  background: #FFB300;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 6px -6px #aaa;
  float: left;
  color: white;
}

.icun3{
  background: #43A047;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 6px -6px #aaa;
  float: left;
  color: white;
}

.icun4{
  background: #00ACC1;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 6px -6px #aaa;
  float: left;
  color: white;
}

.icun4 i{
  font-size: 50px;
  margin: 27px;
}

.icun3 i{
  font-size: 50px;
  margin: 27px;
}

.icun2 i{
  font-size: 50px;
  margin: 27px;
}

.icun i{
  font-size: 50px;
  margin: 27px;
}

.tixt{
  float: left;
}

.txxt{
  float: left;
}



.home-left-content2{
  width: 45%;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;
}

.home-middle-content{
  width: 45%;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;

}


.home-middle-content2{
  width: 45%;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;

}

.home-right-content{
  width: 27%;
  height: 430px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #fafafa;
  margin-top:30px;
}

.home-left-content-menu{
  width: 300px;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;
}

.home-left-content2-menu{
  width: 300px;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;
}

.home-middle-content-menu{
  width: 300px;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;

}


.home-middle-content2-menu{
  width: 300px;
  height: 200px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #FAFAFA;

}

.upright{
  width: 100%;
  height: 85%;
}

.downright{
  width: 100%;
  height: 15%;
  background: #F44336;
}


.graph{
    width:80%;
    margin-left:5%;
    margin-top:10%;
    background:white;
    border-bottom:1px solid #000;
    border-left:1px solid #000;
    height:400px;
}

.sub-graph{
    float:left;
    margin-left:30px;
    height:100%;
    width:10%;
    color:black;
}

.bar1,.bar2,.bar3,.bar4,.bar5,.bar6,.bar7{
    height:90%;
    width:100%;
}

.sub-graph h3{
    font-size:15px;
}

.downright i{
  font-size: 25px;
  padding: 20px 12%;
}

.home-table-content{
  width: 94.3%;
  height: 500px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  float:left;
  background: #fafafa;
  margin-left:30px;
  margin-bottom: 30px;
}
#menulist1{
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}

#Appoint {
background-color: #EEEEEE;
padding: 0px;
margin:0px;
}

#Appoint h3{
font-size: 30px;
padding-top: 3%;
padding-bottom: 5%;
color: #000;

}

#Pending {background-color: #EEEEEE;}
#Active {background-color: #EEEEEE;}
#Done {background-color: #EEEEEE;}
#Cancel {background-color: #EEEEEE;}
#ListU {background-color: #EEEEEE;}
#ListR {background-color: #EEEEEE;}
#Admin {background-color: #EEEEEE;}
#Users {background-color: #EEEEEE;}
#CMS {background-color: #EEEEEE;}
#Export {background-color: #EEEEEE;}
