@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

*{
  padding: 0px;
  margin: 0px;
  border: none;
}

*:focus {
	outline: 0;
}

body{
  background-color: #F8F8FF;
  font-family: 'Didact Gothic', sans-serif;
}

.container-fluid{
  padding:0px;
}

section:not(.first-content):nth-child(even) {
  background-color: #f5f5f5;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    background: #4db1e2;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

.grid {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.grid li{
  flex-basis: 50%;
}

#back-to-top:hover {
  background:#0196DF;
  transition: 0.3s;
}

#back-to-top.show {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  .Header-title{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 22;
    min-height: 55px;
    transition-duration: 0.35s all ease;
    display: block;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0px 6px #000;
    transition: 0.35s all ease;
    font-family: 'Didact Gothic', sans-serif;
  }

  .nav-second{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background:#3b8beb;
}

#activetitle{
  color: #4db1e2;
}

.progress-container{
  display: none;
}

.scrolled .progress-container {
position: absolute;
bottom: 0;
width: 100%;
height: 5px;
background: #ccc;
display: block;
transition-duration: 0.35s all ease;
}

.scrolled .progress-bar {
position: absolute;
bottom: 0;
height: 5px;
background: #4db1e2;
width: 0%;
display: block;
}

.scrolled .nav-second{
  height: 30px;
  background:#3b8beb;
}

.scrolled .nav-second button{
  border-radius: 30px;
  text-align: center;
  width: 200px;
  height: 25px;
  float: left;
  border-style: solid 1px transparent;;
  cursor: pointer;
  background-color: #FFAC12;
  transition: 0.4s;
  margin-left: 30px;
  margin-top: 2px;
  color:white;
}

.scrolled .nav-second .nav-second-left h3{
  font-size: 15px;
  margin-top: 5px;
  margin-right: 300px;
}

.scrolled .nav-second .nav-second-right h3{
  font-size: 15px;
  margin-top: 5px;

}

.nav-second div{
  float: left;
}

.nav-second button{
  float: left;
  border-radius: 30px;
  text-align: center;
  width: 200px;
  height: 35px;
  color:white;
  border-style: solid 1px transparent;
  margin-top:7px;
  cursor: pointer;
  background-color: #FFAC12;
  transition: 0.4s;
  margin-left: 30px;
}

.nav-second button:hover{
    background-color: #FFBC3F;
    border-color: transparent;
    color: black;
}

.nav-second-left h3 {
  font-size: 25px;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 300px;
  
  color: white;
  letter-spacing: 2px;
}

.nav-second-right{
  float: right;
  margin-right: 10px;
}

.nav-second-right h3,.nav-second-right a{
  float: left;
}

.nav-second-right h3{
  font-size: 20px;
  margin-top: 12px;
  
  color: white;
  letter-spacing: 2px;
}

.Header-title h1{
  float: left;
  margin-top: 20px;
  margin-left: 90px;
  font-size: 55px;
  
  font-weight: 900;
  transition: 0.35s all ease;
  display: none;
}

.header-logo{
  width: 400px;
  height: 100px;
  margin-left: 50px;
  margin-top: 20px;
}

.Header-title h1 a{
  text-decoration: none;
  color: #4db1e2;
}

.Header-title ul{
  list-style-type: none;
  float: right;
  margin-top: 40px;
  margin-right: 90px;
  font-size: 20px;
  display: block;
  transition: 0.35s all ease;
}

.progress-container {
width: 100%;
height: 8px;
background: #ccc;
}

.progress-bar {
height: 8px;
background: #4db1e2;
width: 0%;
}

.scrolled {
  height: 10px;
  background: #ADD8E6;
  transition-duration: 0.35s all ease;
  display: block;
  background: rgba(255,255,255,1);
  box-shadow: 0 0px 6px #000;
}
.scrolled ul {
  margin:0;
  padding: 0;
  transition: 0.2s linear;
  display: block;
  float: right;
}

.scrolled ul li{
  padding: 0;
}
.scrolled li,.scrolled li a  {
  float: left;
  color: black;
  display: block;
  padding: 0;
  font-weight: 900;
  transition: 0.2s all ease-in-out;
}

.scrolled li:hover,.scrolled li a:hover  {
    color: #ff383f;
}

.scrolled h1{
  margin-top:5px;
  padding: 0px;
  transition: 0.35s all ease;
  display: block;
  font-size: 35px;
}

.scrolled h1 a{
  color: #4db1e2;
}

.scrolled .header-logo{
  display: none;
  transition: 0.35s all ease;
}

.Header-title ul li:nth-child(-n+7){
  float: left;
  font-size: 15px;
  
  font-weight: 500;
  margin-top: 20px;
  margin-right: 30px;
  cursor: pointer;
  color: white;
  display: block;
}

.Header-title ul li:nth-child(-n+7):hover{

  color: #4db1e2;

}

.Header-title ul li:nth-child(n+8){
  float: left;
  font-size: 15px;
  
  font-weight: 600;
  display: block;

}

.Header-title ul li a{
  text-decoration: none;
  color: black;
  font-weight: 900;
  letter-spacing: 1px;
}

.Header-title ul li a:hover{
color: #4db1e2;
transition: 0.10s all ease;
}


.Header-title ul li button img{
  float: left;
  margin-left: 15px;
  width: 20px;
  height: 15px;
}


  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: url(image/asd.png) no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  }

/* Modal Content/Box */
  .modal-content {
  background-color: #fefefe;
  margin:5% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 500px;
  border-radius: 10px;
  }

  .modal-content h3{
    font-size: 35px;
    padding: 10px 50px;
  }

  .modal-content form{
    margin-left: 30px;
    margin-top: 30px;
  }

  .modal-content form label{
    margin-left: 5px;
    display: block;
    margin-top: 30px;
  }

  .modal-content input{
    border-bottom:2px solid #BEBEBE;
    width: 300px;
    height: 30px;
  }

  .modal-content input:focus{
    border-bottom: 1px solid #88D5E9;
  }

  .modal-content button{
    margin:30px 70px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #4db1e2;
    color: white;
  }

/* The Close Button */
  .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

  .register{
    width: 49.5%;
    height: 100%;
    overflow: auto;
    float: left;
  }

  .register input,.register select{
    margin: 10px;
  }

  .login{
    width: 49.5%;
    float: left;
    height: 100%;
    border-left:1px solid #888;
  }

  .captcha{
    background: red;
    width: 80%;
    height: 100px;
    margin:10px;
    color:white;
    text-align: center;
  }

  .close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }

  #slidingintro1{
  position: absolute;
  left: 88px;
  top:250px;
  visibility: hidden;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: block;
}

  #slidingintro1 h1{
    color: white;
    font-size: 49px;
  }

  #slidingintro1 p{
    color: white;
    font-size: 30px;
  }

#slidingintro2{
  position: absolute;
  left: 88px;
  top:250px;
  visibility: hidden;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: block;
}

#slidingintro2 h1{
  color: white;

  font-size: 49px;
}

#slidingintro2 p{
  color: white;

  font-size: 30px;
}

#slidingintro3{
  position: absolute;
  left: 88px;
  top:250px;
  visibility: hidden;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: block;
}

#slidingintro3 h1{
  color: white;

  font-size: 49px;
}

#slidingintro3 p{
  color: white;

  font-size: 30px;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1;visibility: visible; }
  33.33%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 10%; opacity: 1; visibility: visible; }
  33.33%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 10%; opacity: 1; visibility: visible; }
  33.33%, 100%  { left: 30%; opacity: 0; }
}

#slidingintro1{
    animation-name: anim-1;
}
#slidingintro2{
    animation-name: anim-2;
}
#slidingintro3{
    animation-name: anim-3;
}

.button1{
  display: inline-block;
  padding: 1em 1.8em;
  background-color: rgba(77, 177,225, 0.9);
  margin-top: 1em;
  border-radius: 20em;
  color: white;
  backface-visibility: hidden;
  text-decoration: none;
  cursor: pointer;
}

.by1{
  display: inline-block;
  padding: 1em 1.8em;
  background-color: rgba(77, 177,225, 0.9);
  margin-top: 1em;
  border-radius: 20em;
  color: white;
  backface-visibility: hidden;
  text-decoration: none;
  cursor: pointer;
}

.button1:hover{
  background-color: white;
  color: #3DA1D2
}


  .Sidebar{
    width: 100%;
    height: 120vh;
    position: relative;
    margin:auto;
    font-family: 'Didact Gothic', sans-serif;
  }

  .slide-1{
    position: relative;
    height: 100%;

  }

  .slide-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .mid{
    position:absolute;
    top:40%;
    left:25%;
    color:#ffffff;
    width: 70%;
    height: 200px;
  }

  .mid h2{
    font-size: 70px;
    font-weight:100;
    margin-left: 20px;
  }

  .mid button{
    position: relative;
    left: 20%;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px 20px;
    letter-spacing: 5px;
    background-color:#F8F8FF;
    border-style: none;
    cursor: pointer;
    transition: 0.3s all ease;
  }

  .Sidebar button:hover{
    background-color:white;
    color: #008fd5;
    transition: 0.3s;
  }

  .slide-button-left{
    position:absolute;
    top:50%;
    left:1%;
    transform:translate(0%,-50%);
    background: #008fd5;
    border:#008fd5;
    color: white;
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    transition: 0.3s all ease;
    display: block;
  }

  .slide-button-right{

    position:absolute;
    top:50%;
    right:1%;
    transform:translate(0%,-50%);
    background: #008fd5;
    border:#008fd5;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 38px;
    height: 38px;
    line-height: 30px;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    display: block;

}

/* First Content */
  
.first-content .grid .content-box{
  background:#00ABFF;
  flex-basis: 33%;
  padding-top:20px;
}

.first-content .grid .content-box h3{
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
}

.first-content .grid .content-box img{
  width:100%;
  height: 100px;
}

.first-content .grid .content-box p{
  text-indent: 0px;
  padding-top: 20px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

/* Services */

.hidemesec{
    opacity: 0;
}

.service-con{
    width: 100%;
    height: 100%;
    margin-top:0px;
}

.service-con button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    background: #0196DF;
    cursor: pointer;
    border-radius: 5px;
}

.service-con h2{
    font-size: 40px;
    padding-left: 10px;
    border-left: 10px solid #0196DF;
    color: #008fd5;
    margin-top:0px;
    display: inline;
    letter-spacing: 1px;
}

.service-con .content{
  text-align: center;
  margin-top: 30px;
  flex-basis: 30%;
}

.service-con .content img{
  height: 150px;
}

.service-con .content h3{
  margin-top: 20px;
}

.service-con .content p{
  margin: auto;
  width: 80%;
  font-size:12px;
}

/* Dentist */

.dentist h2{
  margin-top: 0px;
  font-size: 40px;
  padding-left: 10px;
  border-left: 10px solid #0196DF;
  color: #008fd5;
  letter-spacing: 1px;
}

.dentist .card{
  margin-top: 20px;
  flex-basis: 30%;
}

.dentist .card img{
  height: 300px;
}

/* Locations */

.location h2{
  margin-top: 30px;
  font-size: 40px;
  padding-left: 10px;
  border-left: 10px solid #0196DF;
  color: #008fd5;
  letter-spacing: 1px;
}

.location .row{
  flex-basis: 100%;
}

.location .row .col img{
  width:100%;
}

/* Footer */
footer{
  background: rgba(0,0,0,.8);
  color: #fff;
}

footer .row h3{
  margin: auto;
}

.services-a{
    border-width: thin;
    width: 30%;
    height: 200px;
    color: black;
    border-radius: 20px;
    margin: 20px 10px 10px 20px;
}

.services-a img{
    width: 100px;
    height: 80px;
    margin: 30px 35%;
    border-radius: 20px;
  }

  .services-a-1{
    margin-left: 35%;
    font-size: 17px;
  }

  .services-a-2{
    margin-left: 30%;
    font-size: 17px;
  }

  .services-a-3{
    margin-left: 30%;
    font-size: 17px;
  }

  .services-a p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 10px;
    font-size:13px;
  }

  .services-a-a {
    float: left;
    width: 100%;
    height:120px;
  }

  .services-b img{
    width: 100px;
    height: 80px;
    margin: 10px 35%;
    border-radius: 20px;
  }

  .services-b-1{
    margin-left: 35%;
    font-size: 17px;
  }

  .services-b-2{
    margin-left: 33%;
    font-size: 17px;
  }

  .services-b-3{
    margin-left: 33%;
    font-size: 17px;
  }

  .services-b p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 10px;
    font-size:13px;
  }

  .services-b{
    border-width: thin;
    width: 30%;
    height: 300px;
    color: black;
    border-radius: 20px;
    margin: 20px 10px 10px 20px;
  }

  .right-content-a{
    width: 50%;
    height: 100%;
    float:left;
    margin-top: 30px;
  }



  .right-content-a a button{
    margin-top: 10px;
    margin-left: 40%;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    background: #0196DF;
    cursor: pointer;
    border-radius: 5px;
  }

  .right-content-a h2{
    font-size: 40px;
    padding-left: 10px;
    color: #008fd5;
    letter-spacing: 1px;
    float: left;
  }

  .gallery-samp{
    width: 100%;
    height: 100%;
  }

  .gal{
    width: 100%;
    height: 300px;
    background: red;
  }

  .gal ul{
    list-style-type: none;
    display: flex;
  }

  .gal ul li .gal1{
    width: 300px;
    height: 800px;
    box-sizing: border-box;
  }

   .gal ul li .gal1 figure{
    position: relative;
    overflow: hidden;
    height: 400px;
  }

  .gal ul li .gal1 figure:before,.gal ul li .gal1 figure:after{
   content: '';
   position: absolute;
   top: 0;
   height: 100%;
   width: 50%;
   background: #262626;
   transition: .5s;
 }

 .gal ul li .gal1 figure:before{
   left: -50%;
 }

 .gal ul li .gal1:hover figure:before{
   left: 0;
 }

 .gal ul li .gal1 figure:after{
   right: -50%;
 }

 .gal ul li .gal1:hover figure:after{
   right: 0;
 }


.gal ul li .gal1 img{
   width: 100%;
   height: 100%;
   object-fit:contain;
 }

 .gal ul li .gal1 figure figcaption{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: .5s;
  transition-delay: .5s;
  transform: translateY(20px);
  z-index: 3;
}

.gal ul li .gal1:hover figure figcaption{
 opacity: 1;
 transform: translateY(0);
}

.gal ul li .gal1 figcaption h1{
  font-size: 22px;
}

.gal ul li .gal1 figcaption p{
  margin: 10px 0;
  font-size: 16px;
}

.gal ul li .gal1 figcaption a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
}

.galery-a{
  width: 100%;
  height: 30%;
  margin-top: 50px;
}

.galery-a img{
  width: 250px;
  float: left;
  margin:15px;
  border: 3px solid #0196DF;
  border-radius: 20px;
}

.galery-a h3{
  font-size: 20px;

  padding-top: 30px;
  margin-left: 30px;
}

.galery-b{
  width: 100%;
  height: 30%;
}

.galery-b img{
  width: 250px;
  float: left;
  margin:0 15px 20px 15px;
  border: 3px solid #0196DF;
  border-radius: 20px;
}

.galery-b h3{
  font-size: 20px;

  padding-top: 30px;
  margin-left: 30px;
}


  .style-one {
    border: 0;
    height: 2px;
    background: #00ABFF;
    background-image: linear-gradient(to right, #D1F0FF, #00ABFF, #D1F0FF);
}


  .iconic{
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
    margin-left: 45%;
    margin-right: 50px;
  }

  .iconics{
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
  }

  .hidemethir{
    opacity: 0;
  }

  .hidemefour{
    opacity: 0;
  }

  .hidemefive{
    opacity: 0;
  }

  .hidemesix{
    opacity: 0;
  }


  .text {
  background-color: #4db1e2;
  font-size: 15px;
  padding: 16px 32px;
  color: white;
  }

  .text a{
      text-decoration:none;
      color: white;
  }

  #d4{
    object-fit: cover;
    object-position: 50% 20%;
  }

  #d5{
    object-fit: cover;
    object-position: 50% 20%;
  }
  .Content-d{
    width: 100%;
    height: 700px;
    background-color: #Fafafa;
  }

  .Content-d h2{
    margin-top: 30px;
    font-size: 30px;
    padding-left: 10px;
    border-left: 10px solid #0196DF;
    color: #008fd5;
    letter-spacing: 1px;
  }

  .inquiryform{
    width: 50%;
    height: 100%;
    float: left;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .registerform{
    width: 50%;
    height: 100%;
    background: #eeeeee;
    float: left;
  }

  .inquiryform form{
    margin-left: 30px;
    margin-top: 30px;
  }

  .inquiryform h4{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .inquiryform form label{
    margin-left: 5px;
    display: block;
    margin-top: 30px;
  }

  .inquiryform input{
    border-bottom:2px solid #BEBEBE;
    width: 300px;
    height: 30px;
    background-color: #Fafafa;
    margin-top: 30px;
    margin-left: 30px;
  }

  .inquiryform input:focus{
    border-bottom: 1px solid #88D5E9;
  }

  .inquiryform button{
    margin:30px 70px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #4db1e2;
    color: white;
  }

  .tip1{
    background-color: #Fafafa;
    width: 90%;
    height: 200px;
    margin-left: 30px;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .tip2{
    background-color: #Fafafa;
    width: 90%;
    height: 140px;
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .tip3{
    background-color: #Fafafa;
    width: 90%;
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
      box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .tip4{
    background-color: #Fafafa;
    width: 90%;
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
      box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .registerform h3{
    padding: 10px;
  }

  .registerform h4{
    padding: 5px;
  }

  .registerform p{
    text-indent: 30px;
    margin:0 10px;
  }
