@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

*{
  padding: 0px;
  margin: 0px;
  border: none;
}

*:focus {
	outline: 0;
}

body{
  font-family: 'Didact Gothic', sans-serif;
}

.container-fluid{
  padding:0px;
}

section{
  height: 100vh;
}

section:not(.first-content):nth-child(even) {
  background-color: #f5f5f5;
}

#main{
  padding-right: 0;
}

.grid {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.grid li{
  flex-basis: 50%;
}

#back-to-top:hover {
  background:#0196DF;
  transition: 0.3s;
}

#back-to-top.show {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}

/* Page indicator */

.vNav {
  position: fixed;
  top: 50%;
  left: 15%;
  width: 50px;
  z-index: 9999;
  list-style-type: none;
}

.vNav ul {
  position: relative;
  padding: 3px;
  padding-left: 35%;
}

.vNav ul li{
  position: relative;
  padding-bottom: 20px;
  padding-left: 35%;
  color: rgb(113,135,133);
}

.vNav a{
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgb(113,135,133);
  text-decoration: none;
}

.vNav a:hover{
  border-radius: 50%;
  background-color: rgb(113,135,133);
  text-decoration: none;
}

.vNav a.active{
  border-radius: 50%;
  background-color: rgb(207,219,218);
  text-decoration: none;
}

/* Mouse Indicator */

.moving-mouse-holder {
  position: fixed;
  top:90%;
  left:55%;
  width: 170px;
  z-index: 200;
}

.moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  right: 0;
  border-radius: 18px;
  border: 2px solid #000000;
}

.moving-mouse-holder .mouse-button {
  background-color: #000000;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}


/* SideNav */

.left-nav{
  height: 100vh;
}

#banner{
  width: 100%;
  margin-bottom: 150px;
}

#banner a img{
  width: 90%;
  margin: 30px 15px 15px 15px;
}

.left-nav ul{
  padding: 50px;
  list-style: none;
  text-transform: uppercase;
}

.left-nav li a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.notif-nav{
  background:  #0068b5;
  color:#fff;
  height:40px;
}

.notif-nav p{
  font-size: 18px;
  font-weight: bold;
}

#navbar-content a{
  color: #6c675c;
  font-weight: 600;
}

#navbar-content a:hover{
  color: #0068b5;
}

.nav-right-con button{
  padding: 12px 20px;
  border-radius: 100px;
  background: #0068b5;
  color: #fff;
}

/* Content Fading in at scroll CSS */

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}


/* The Close Button */
  .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

  .register{
    width: 49.5%;
    height: 100%;
    overflow: auto;
    float: left;
  }

  .register input,.register select{
    margin: 10px;
  }

  .login{
    width: 49.5%;
    float: left;
    height: 100%;
    border-left:1px solid #888;
  }

  .captcha{
    background: red;
    width: 80%;
    height: 100px;
    margin:10px;
    color:white;
    text-align: center;
  }

  .close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }

.main-section{
  height: 100vh;
  width: 100%;
}

/* Sidebar */

.sidebar{

  font-family: 'Didact Gothic', sans-serif;
}

.left-sidebar{
  flex-basis: 50%;
  align-items: center;
}

.left-sidebar div{
  margin: 50px 100px;
}

.left-sidebar div h1{
  font-size: 5rem;
}

.right-sidebar{
  flex-basis: 50%;
}

.sidebar-con img{
  object-fit: cover;
  height:100vh;
}

.carousel-caption {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* First Content */

.first-content{
  height: 60vh;
}
  
.first-content .grid .content-box{
  background:#00ABFF;
  flex-basis: 30%;
  padding-top:20px;
  margin: 0px 10px;
}

.first-content .grid .content-box h3{
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
}

.first-content .grid .content-box img{
  width:100%;
  height: 100px;
}

.first-content .grid .content-box p{
  text-indent: 0px;
  padding-top: 20px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

/* Services */

.services{
  height: 230vh;
}

.service-con{
    width: 100%;
    height: 100%;
    margin-top:30px;
}

.service-con button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    background: #0196DF;
    cursor: pointer;
    border-radius: 5px;
}

.service-con-title{
  text-align: center;
  width: 60%;
  margin: auto;
  position: relative;
}

.service-con-title h2{
    font-size: 5rem;
    color:rgba(0, 0, 0, 0.15);
    font-weight: 900;
    letter-spacing: 5px;
}

.service-con-title h3{
  font-size: 3rem;
  color:#9abadd;
  position: absolute;
  top:50px;
}

.service-container{
  margin-top: 150px;
  position: relative;
}

.service-container .left-services-cont h1{
  font-size: 8rem;
  color:rgba(0, 0, 0, 0.15);
  font-weight: 900;
  position: absolute;
  z-index: -1f;
}

.service-container .left-services-cont button{
  color:#fff;
  background-color: #517ea5;
  padding: 15px 30px;
  margin: 110px 0px 0px 130px;
}

#first-service{
  background:#517ea5;
  color: white;
  margin-top: 50px;
}

#first-service h1{
  padding: 30px;
}

#first-service ul{
  margin:20px 40px;
  padding-bottom: 30px;
}

.service-con .content{
  text-align: center;
  margin-top: 30px;
  flex-basis: 30%;
}

.service-con .content img{
  height: 150px;
}

.service-con .content h3{
  margin-top: 20px;
}

.service-con .content p{
  margin: auto;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/* Dentist */

.dentist{
  height: 200vh;
}


.dentist h2{
  margin-top: 0px;
  font-size: 40px;
  padding-left: 10px;
  border-left: 10px solid #0196DF;
  color: #008fd5;
  letter-spacing: 1px;
}

.dentist .img-cont{
  padding:5px;
}

.grid-item { 
  width: 200px; 
}
.grid-item--width2 { 
  width: 400px; 
}

#first-img{
  height:400px;
  width: 100%;
  object-fit: cover;
  object-position: 10% 10%; /* try 20px 10px */ 
}

#second-img{
  width:49%;
  height:200px;
  object-fit: cover;
  object-position: 10% 10%; /* try 20px 10px */ 
}

#third-img{
  width:250px;
  height:300px;
  object-fit: cover;
  padding-top:3px;
  object-position: 10% 10%; /* try 20px 10px */ 
}

#fourth-img{
  width:250px;
  height:300px;
  object-fit: cover;
  padding-top:3px;
  object-position: 10% 10%; /* try 20px 10px */ 
}

#fifth-img{
  width:100%;
  height: 300px;
}

/* Image grid */

.gridBlock {
  opacity: 0;
}


/* Grid almost fully pulled from https://www.rino-pelle.com/ */
.grid-container {
  width: 100%;
  height: 900px;
  position: relative;
}
.grid-content{
  top: 0;
  left: 0;
  z-index: 1;
  width: 70vw;
  height: 60vw;
  margin: 0 calc(100vw / 20 * 2);
  position: absolute;
  
}
@media only screen and (max-width: 580px) {
  .grid-content{
    margin: 0;
    width: 100vw;
    height: 89.444vw;
  }
}
.gridBlock {
  background-size: cover;
  background-color: darkgray;
}
.gridLayer {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  will-change: transform;
  transform-origin: 44.951% 50%;
}
.gridLayer:nth-child(1) .gridBlock {
  top: 5vw;
  left: 20vw;
  width: 10vw;
  height: 10vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(1) .gridBlock {
    top: 11.111vw;
    left: 23.889vw;
    width: 15vw;
    height: 15vw;
  }
}
.gridLayer:nth-child(2) .gridBlock {
  top: 0;
  left: 32.5vw;
  width: 15vw;
  height: 15vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(2) .gridBlock {
    top: 0;
    left: 43.333vw;
    width: 26.389vw;
    height: 26.389vw;
  }
}
.gridLayer:nth-child(3) .gridBlock {
  left: 0;
  top: 25vw;
  width: 15vw;
  height: 15vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(3) .gridBlock {
    top: 30.278vw;
    left: 0;
    width: 26.389vw;
    height: 26.389vw;
  }
}
.gridLayer:nth-child(4) .gridBlock {
  top: 17.5vw;
  left: 17.5vw;
  width: 30vw;
  height: 30vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(4) .gridBlock {
    top: 30.278vw;
    left: 30.278vw;
    width: 39.444vw;
    height: 39.444vw;
  }
}
.gridLayer:nth-child(5) {
  z-index: 1;
}
.gridLayer:nth-child(5) .gridBlock {
  top: 20vw;
  left: 50vw;
  width: 5vw;
  height: 5vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(5) .gridBlock {
    top: 23.889vw;
    left: 73.889vw;
    width: 15.278vw;
    height: 15.278vw;
  }
}
.gridLayer:nth-child(5) a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridLayer:nth-child(5) svg {
  width: 1.75vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(5) svg {
    width: 4.722vw;
  }
}
.gridLayer:nth-child(6) .gridBlock {
  left: 50vw;
  top: 27.5vw;
  width: 20vw;
  height: 20vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(6) .gridBlock {
    top: 43.889vw;
    left: 73.889vw;
    width: 26.389vw;
    height: 26.389vw;
  }
}
.gridLayer:nth-child(7) .gridBlock {
  left: 10vw;
  top: 42.5vw;
  width: 5vw;
  height: 5vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(7) .gridBlock {
    display: none;
  }
}
.gridLayer:nth-child(8) .gridBlock {
  bottom: 5vw;
  left: 42.5vw;
  width: 5vw;
  height: 5vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(8) .gridBlock {
    display: none;
  }
}
.gridLayer:nth-child(9) .gridBlock {
  bottom: 0;
  left: 50vw;
  width: 10vw;
  height: 10vw;
}
@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(9) .gridBlock {
    top: 73.889vw;
    left: 58.889vw;
    width: 15.278vw;
    height: 15.278vw;
  }
}
.gridBlock {
  display: block;
  position: absolute;
}


/* Locations */

.location{
}

.location h2{
  margin-top: 0px;
  font-size: 40px;
  padding-left: 10px;
  border-left: 10px solid #0196DF;
  color: #008fd5;
  letter-spacing: 1px;
}

.location ul{
  height: 70vh;
}

.location .map{
  flex-basis: 70%;
}

.location .city{
  flex-basis: 30%;
}

.location .city ul{
  margin-left: 50px;
  list-style: none;
}

.location .city li{
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(0, #4db1e2, #4db1e2);
  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: .8s;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  padding: 20px 0;
  margin:30px 0;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem #AAAAAA;
}

.location .city li:hover {
  background-size: 100%;
  color: #fff;
}

.location .city a:hover{
  color: #fff;
}

.location .city a{
  text-decoration: none;
  color:#000;
  border: none;
}

.location .city li h3{
  font-size: 1.5rem;
  font-weight: 600;
}

.location .city li p{
  font-weight: 300;
}

/* Footer */
footer{
  background: rgba(0,0,0,.8);
  color: #fff;
  border-bottom: 8px solid #4db1e2;
}

.footer-top{
  margin-bottom: 30px;
}

.footer-top a:hover{
  font-weight: bold;
}

.footer-left{
  width:80%;
}

.footer-left h2{
  font-weight: 600;
  letter-spacing: 2px;
  padding: 55px 0 30px 55px;
}

.footer-left li{
  padding: 5px 0 5px 55px;
}

.footer-left li a{
  text-decoration: none;
  color:#fff;
}

.footer-left li p{
  margin-top: 30px;
}

#footer-caps{
  font-weight: 600;
  font-size: 1.3rem;
}

.footer-right{
  width:20%;
}

.footer-right ul{
  list-style: none;
  padding: 100px 0;
}

.footer-right li{
  text-transform: capitalize;
  padding:3px 0;
}

.footer-right li a{
  color: #fff;
  text-decoration: none;
}

/*  */

.services-a{
    border-width: thin;
    width: 30%;
    height: 200px;
    color: black;
    border-radius: 20px;
    margin: 20px 10px 10px 20px;
}

.services-a img{
    width: 100px;
    height: 80px;
    margin: 30px 35%;
    border-radius: 20px;
  }

  .services-a-1{
    margin-left: 35%;
    font-size: 17px;
  }

  .services-a-2{
    margin-left: 30%;
    font-size: 17px;
  }

  .services-a-3{
    margin-left: 30%;
    font-size: 17px;
  }

  .services-a p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 10px;
    font-size:13px;
  }

  .services-a-a {
    float: left;
    width: 100%;
    height:120px;
  }

  .services-b img{
    width: 100px;
    height: 80px;
    margin: 10px 35%;
    border-radius: 20px;
  }

  .services-b-1{
    margin-left: 35%;
    font-size: 17px;
  }

  .services-b-2{
    margin-left: 33%;
    font-size: 17px;
  }

  .services-b-3{
    margin-left: 33%;
    font-size: 17px;
  }

  .services-b p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 10px;
    font-size:13px;
  }

  .services-b{
    border-width: thin;
    width: 30%;
    height: 300px;
    color: black;
    border-radius: 20px;
    margin: 20px 10px 10px 20px;
  }

  .right-content-a{
    width: 50%;
    height: 100%;
    float:left;
    margin-top: 30px;
  }



  .right-content-a a button{
    margin-top: 10px;
    margin-left: 40%;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    background: #0196DF;
    cursor: pointer;
    border-radius: 5px;
  }

  .right-content-a h2{
    font-size: 40px;
    padding-left: 10px;
    color: #008fd5;
    letter-spacing: 1px;
    float: left;
  }

  .gallery-samp{
    width: 100%;
    height: 100%;
  }

  .gal{
    width: 100%;
    height: 300px;
    background: red;
  }

  .gal ul{
    list-style-type: none;
    display: flex;
  }

  .gal ul li .gal1{
    width: 300px;
    height: 800px;
    box-sizing: border-box;
  }

   .gal ul li .gal1 figure{
    position: relative;
    overflow: hidden;
    height: 400px;
  }

  .gal ul li .gal1 figure:before,.gal ul li .gal1 figure:after{
   content: '';
   position: absolute;
   top: 0;
   height: 100%;
   width: 50%;
   background: #262626;
   transition: .5s;
 }

 .gal ul li .gal1 figure:before{
   left: -50%;
 }

 .gal ul li .gal1:hover figure:before{
   left: 0;
 }

 .gal ul li .gal1 figure:after{
   right: -50%;
 }

 .gal ul li .gal1:hover figure:after{
   right: 0;
 }


.gal ul li .gal1 img{
   width: 100%;
   height: 100%;
   object-fit:contain;
 }

 .gal ul li .gal1 figure figcaption{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: .5s;
  transition-delay: .5s;
  transform: translateY(20px);
  z-index: 3;
}

.gal ul li .gal1:hover figure figcaption{
 opacity: 1;
 transform: translateY(0);
}

.gal ul li .gal1 figcaption h1{
  font-size: 22px;
}

.gal ul li .gal1 figcaption p{
  margin: 10px 0;
  font-size: 16px;
}

.gal ul li .gal1 figcaption a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
}

.galery-a{
  width: 100%;
  height: 30%;
  margin-top: 50px;
}

.galery-a img{
  width: 250px;
  float: left;
  margin:15px;
  border: 3px solid #0196DF;
  border-radius: 20px;
}

.galery-a h3{
  font-size: 20px;

  padding-top: 30px;
  margin-left: 30px;
}

.galery-b{
  width: 100%;
  height: 30%;
}

.galery-b img{
  width: 250px;
  float: left;
  margin:0 15px 20px 15px;
  border: 3px solid #0196DF;
  border-radius: 20px;
}

.galery-b h3{
  font-size: 20px;

  padding-top: 30px;
  margin-left: 30px;
}


  .style-one {
    border: 0;
    height: 2px;
    background: #00ABFF;
    background-image: linear-gradient(to right, #D1F0FF, #00ABFF, #D1F0FF);
}


  .iconic{
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
    margin-left: 45%;
    margin-right: 50px;
  }

  .iconics{
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
  }

  .hidemethir{
    opacity: 0;
  }

  .hidemefour{
    opacity: 0;
  }

  .hidemefive{
    opacity: 0;
  }

  .hidemesix{
    opacity: 0;
  }


  .text {
  background-color: #4db1e2;
  font-size: 15px;
  padding: 16px 32px;
  color: white;
  }

  .text a{
      text-decoration:none;
      color: white;
  }

  #d4{
    object-fit: cover;
    object-position: 50% 20%;
  }

  #d5{
    object-fit: cover;
    object-position: 50% 20%;
  }
  .Content-d{
    width: 100%;
    height: 700px;
    background-color: #Fafafa;
  }

  .Content-d h2{
    margin-top: 30px;
    font-size: 30px;
    padding-left: 10px;
    border-left: 10px solid #0196DF;
    color: #008fd5;
    letter-spacing: 1px;
  }

  .inquiryform{
    width: 50%;
    height: 100%;
    float: left;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .registerform{
    width: 50%;
    height: 100%;
    background: #eeeeee;
    float: left;
  }

  .inquiryform form{
    margin-left: 30px;
    margin-top: 30px;
  }

  .inquiryform h4{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .inquiryform form label{
    margin-left: 5px;
    display: block;
    margin-top: 30px;
  }

  .inquiryform input{
    border-bottom:2px solid #BEBEBE;
    width: 300px;
    height: 30px;
    background-color: #Fafafa;
    margin-top: 30px;
    margin-left: 30px;
  }

  .inquiryform input:focus{
    border-bottom: 1px solid #88D5E9;
  }

  .inquiryform button{
    margin:30px 70px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #4db1e2;
    color: white;
  }

  .tip1{
    background-color: #Fafafa;
    width: 90%;
    height: 200px;
    margin-left: 30px;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .tip2{
    background-color: #Fafafa;
    width: 90%;
    height: 140px;
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .tip3{
    background-color: #Fafafa;
    width: 90%;
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
      box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .tip4{
    background-color: #Fafafa;
    width: 90%;
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
      box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .registerform h3{
    padding: 10px;
  }

  .registerform h4{
    padding: 5px;
  }

  .registerform p{
    text-indent: 30px;
    margin:0 10px;
  }
