@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

*{
  padding: 0px;
  margin: 0px;
  border: none;
}

*:focus {
	outline: 0;
}
body{
background-color: #F8F8FF;
  font-family: 'Didact Gothic', sans-serif;
}

.Header {
  grid-area: Header;
  width: 100%;
  height: 150px;
}

.Header img{
  width: 200px;
  height: 150px;
  margin-left: 42%;
}
.Content-a {
  grid-area: Content-a;
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
  float: left;
}

.Content-a form{
  width: 100%;
  height: 450px;
}

.Content-b {
  grid-area: Content-b;
  width: 100%;
  height: 100%;
  float: left;
}

.Content-b form{
  width: 100%;
  height: 450px;
}

.grid-container h1{
  padding: 10px;
}


  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    background: #EEEEEE;
    grid-template-areas:
    "Header Header"
    "Content-a Content-b"
    "Content-a Content-b"
    "Content-a Content-b"
  }
