@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
*{
  padding: 0px;
  margin: 0px;
  border: none;
}


body{
  background-color: #F8F8FF;
  font-family: 'Didact Gothic', sans-serif;
}





.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "Header Header Header"
  "Sidebar Sidebar Sidebar"
  "Content-a Content-a Content-a"
  "Content-b Content-c Content-d"
  "Footer Footer Footer";
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  background: #4db1e2;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background:#0196DF;
  transition: 0.3s;
}
#back-to-top.show {
  opacity: 1;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Header-title{
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 22;
  min-height: 55px;
  transition-duration: 0.35s all ease;
  display: block;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0px 6px #000;
  transition: 0.35s all ease;
}

.nav-second{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background:#3b8beb;
}

#activetitle{
  color:#3b8beb;
  font-weight: 900;
}

.progress-container{
  display: none;
}

.scrolled .progress-container {
position: absolute;
bottom: 0;
width: 100%;
height: 5px;
background: #ccc;
display: block;
transition-duration: 0.35s all ease;
}

.scrolled .progress-bar {
position: absolute;
bottom: 0;
height: 5px;
background: #4db1e2;
width: 0%;
display: block;
}

.scrolled .nav-second{
  height: 30px;
}

.scrolled .nav-second button{
  border-radius: 30px;
  text-align: center;
  width: 200px;
  height: 25px;
  float: left;
  color:white;
  border-style: solid 1px transparent;;
  cursor: pointer;
  background-color: #FFAC12;
  transition: 0.4s;
  margin-left: 30px;
  margin-top: 2px;
}

.scrolled .nav-second .nav-second-left h3{
  font-size: 15px;
  margin-top: 5px;
  margin-right: 300px;
}

.scrolled .nav-second .nav-second-right h3{
  font-size: 15px;
  margin-top: 5px;

}

.nav-second div{
  float: left;
}

.nav-second button{
  float: left;
  border-radius: 30px;
  text-align: center;
  width: 200px;
  height: 35px;
  float: left;
  border-style: solid 1px transparent;
  margin-top:7px;
  cursor: pointer;
  color:white;
  background-color: #FFAC12;
  transition: 0.4s;
  margin-left: 30px;
}

.nav-second button:hover{
  background-color: #FFBC3F;
  border-color: transparent;
  color: black;
}

.nav-second-left h3 {
  font-size: 25px;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 300px;
  
  color: white;
  letter-spacing: 2px;
}

.nav-second-right{
  float: right;
  margin-right: 10px;
}

.nav-second-right h3,.nav-second-right a{
  float: left;
}

.nav-second-right h3{
  font-size: 20px;
  margin-top: 12px;
  
  color: white;
  letter-spacing: 2px;
}

.Header-title h1{
  float: left;
  margin-top: 20px;
  margin-left: 90px;
  font-size: 55px;
  
  font-weight: 900;
  transition: 0.35s all ease;
  display: none;
}

.header-logo{
  width: 400px;
  height: 100px;
  margin-left: 50px;
  margin-top: 20px;
}

.Header-title h1 a{
  text-decoration: none;
  color: #4db1e2;
}

.Header-title ul{
  list-style-type: none;
  float: right;
  margin-top: 40px;
  margin-right: 90px;
  font-size: 20px;
  display: block;
  transition: 0.35s all ease;
}

.progress-container {
width: 100%;
height: 8px;
background: #ccc;
}

.progress-bar {
height: 8px;
background: #4db1e2;
width: 0%;
}

.scrolled {
  height: 10px;
  background: #ADD8E6;
  transition-duration: 0.35s all ease;
  display: block;
  background: rgba(255,255,255,1);
  box-shadow: 0 0px 6px #000;
}
.scrolled ul {
  margin:0;
  padding: 0;
  transition: 0.2s linear;
  display: block;
  float: right;
}

.scrolled ul li{
  padding: 0;
}
.scrolled li,.scrolled li a  {
  float: left;
  color: black;
  display: block;
  padding: 0;
  font-weight: 900;
  transition: 0.2s all ease-in-out;
}

.scrolled li:hover,.scrolled li a:hover  {
    color: #ff383f;
}

.scrolled h1{
  margin-top:5px;
  padding: 0px;
  transition: 0.35s all ease;
  display: block;
  font-size: 35px;
}

.scrolled h1 a{
  color: #4db1e2;
}

.scrolled .header-logo{
  display: none;
  transition: 0.35s all ease;
}

.Header-title ul li:nth-child(-n+7){
  float: left;
  font-size: 15px;
  
  font-weight: 500;
  margin-top: 20px;
  margin-right: 30px;
  cursor: pointer;
  color: white;
  display: block;
}

.Header-title ul li:nth-child(-n+7):hover{

  color: #4db1e2;

}

.Header-title ul li:nth-child(n+8){
  float: left;
  font-size: 15px;
  
  font-weight: 600;
  display: block;

}

.Header-title ul li a{
  text-decoration: none;
  color: black;
  font-weight: 900;
  letter-spacing: 1px;
}

.Header-title ul li a:hover{
color: #4db1e2;
transition: 0.10s all ease;
}


.Header-title ul li button img{
  float: left;
  margin-left: 15px;
  width: 20px;
  height: 15px;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 99; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background: url(image/asd.png) no-repeat;
background-size: cover;
background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin:5% auto; /* 15% from the top and centered */
padding: 10px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
height: 500px;
border-radius: 10px;
}

.modal-content h3{
  font-size: 35px;
  
  padding: 10px 50px;
}

.modal-content form{
  margin-left: 30px;
  margin-top: 30px;
}

.modal-content form label{
  
  margin-left: 5px;
  display: block;
  margin-top: 30px;
}

.modal-content input{
  border-bottom:2px solid #BEBEBE;
  width: 300px;
  height: 30px;
}

.modal-content input:focus{
  border-bottom: 1px solid #88D5E9;
}

.modal-content button{
  margin:30px 70px;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  background: #4db1e2;
  color: white;
}

/* The Close Button */
.close {
color: black;
float: right;
font-size: 28px;
font-weight: bold;
}

.register{
  width: 49.5%;
  height: 100%;
  overflow: auto;
  float: left;
}

.register input,.register select{
  margin: 10px;
}

.login{
  width: 49.5%;
  float: left;
  height: 100%;
  border-left:1px solid #888;
}

.captcha{
  background: red;
  width: 80%;
  height: 100px;
  margin:10px;
  color:white;
  text-align: center;
}

.close:hover,.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.Sidebar{
  width: 100%;
  height: 350px;
}

 
    .Sidebar img{
        width:100%;
        height:100%;
        filter: brightness(1);
        background-repeat:no-repeat;
    }


.Content-a {
  width: 100%;
  height: 1000px;
  background:inherit;
}

.Content-a h2{
 
  text-align:center;
  padding-top: 30px;
  letter-spacing: 1px;
}

.Content-a p{
  text-align: center;
  margin: 30px 150px;
  font-size: 18px;
}

.contact-cont{
  margin-top: 100px;
  width: 60%;
  height: 550px;
  float:left;
  background: inherit;
}

.contact-cont2{
  margin-top: 100px;
  width: 40%;
  float:left;
  height: 550px;
  background: #4db1e2;
}

.contact-cont2 h1{
      text-align: center;
      font-size: 30px;
      padding-top: 30px;
      font-weight:400;
      color:white;
    }
 .contact-cont2 h2{
     font-size:25px;
     font-weight:200;
     text-align: center;
 }
    .contact-cont2 button{
      border: none;
      border-radius: 30px;
      border-color: #fff;
      padding: 10px 80px;
      margin-left: 30%;
      margin-top: 70px;
    }


.Content-b {
  width: 100%;
  height: 700px;
  background:inherit;
}

.Content-b h3{
  
  text-align: center;
  margin-left: 30px;
}

.Content-b ul{
  list-style-type: none;
  margin-top: 50px;
  margin-left: 0px;
  text-align: center;
}

.Content-b li{
  font-size: 20px;
}


.Content-c {
  width: 100%;
  height: 700px;
  background:inherit;
}

.Content-c h3{
  
  text-align: center;
  margin-left: 30px;
}

#activetitle{
  color: #4db1e2;
}

.Content-c ul{
  list-style-type: none;
  margin-top: 70px;
  margin-left: 0px;
  text-align: center;
}

.Content-c li{
  font-size: 20px;
}

.Content-d {
  width: 100%;
  height: 700px;
  background:inherit;
}

.Content-d h3{
  
  text-align: center;
  margin-left: 30px;
}

.Content-d ul{
  list-style-type: none;
  margin-top: 50px;
  margin-left: 0px;
  text-align: center;
}

.Content-d li{
  font-size: 20px;
}

#map_canvas{
  margin-top: 25%;
  width: 80%;
  margin-left: 10%;
  height: 300px;
}

#map_canvas_2{
  margin-top: 27%;
  width: 80%;
  margin-left: 10%;
  height: 300px;
}

#map_canvas_3{
  margin-top: 20%;
  width: 80%;
  margin-left: 10%;
  height: 300px;
}






.Footer{
  height: 370px;
  background:#213540;
}

.upper-footer{
  height: 90px;
  width: 100%;
  background: #d0d0d0;
}


.iconic{
  background: url(image/facebook.svg) no-repeat;
  width:30px; /* Width of new image */
  height: 30px; /* Height of new image */
  margin-top:30px;
  margin-left: 45%;
  margin-right: 50px;
}

.iconics{
  background: url(image/icons/gmail.svg) no-repeat;
  width:30px; /* Width of new image */
  height: 30px; /* Height of new image */
  margin-top:30px;
}

.right-footer .iconic{
  margin-left: 170px;
  background-color: white;
  border-radius: 10px;
}

.right-footer .iconic2{
  margin-left:30px;
  background-color: white;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

.footer-1{
  width: 100%;
  height: 90%;
  background:#213540;

}


.left-footer,.middle-footer,.right-footer{
  width: 33.33%;
  height: 100%;
  float: left;
  
}

.middle-footer h2{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 100px;
}

.middle-footer p{
  margin-left: 100px;
  margin-top: 10px;
}

.middle-footer p:nth-child(even){
  float: left;
}

.middle-footer p:nth-child(odd){
  float: right;
  margin-right: 10px;
}

.right-footer h2{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.left-footer a{
  text-decoration: none;
  color: inherit;
}

.left-footer p{
  
  font-size: 15px;
  text-indent: 30px;
  margin-top: 30px;
  margin-left: 50px;
}

.left-footer h2{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  padding-left: 30px;
}


.footer-1{
  color:white;
}

.footer-2{
  height: 10%;
  background:#1c2d36;
  text-align: center;
  
  letter-spacing: 2px;
}

.footer-2 h3{
  color:white;
  padding-top:10px;

}


.inquiryform{
      width: 50%;
      height: 100%;
      float: left;
      box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
    }
    
    .inquiryform form{
      margin-left: 30px;
      margin-top: 30px;
    }

    .inquiryform h4{

      font-size: 20px;
      margin-left: 30px;
      margin-top: 30px;
    }

    .inquiryform form label{

      margin-left: 5px;
      display: block;
      margin-top: 30px;
    }

    .inquiryform input{
      border-bottom:2px solid #BEBEBE;
      width: 300px;
      height: 30px;
      background-color: #Fafafa;
      margin-top: 30px;
      margin-left: 30px;
    }

    .inquiryform input:focus{
      border-bottom: 1px solid #88D5E9;
    }

    .inquiryform button{
      margin:30px 70px;
      width: 300px;
      height: 30px;
      border-radius: 20px;
      background: #4db1e2;
      color: white;
    }

.Header {
  grid-area: Header;
}
  .Sidebar {
    grid-area: Sidebar;
  }
  .Content-a {
    grid-area: Content-a;
  }

  .Content-b {
    grid-area: Content-b;
  }
  .Content-c {
    grid-area: Content-c;
  }
  .Content-d {
    grid-area: Content-d;
  }

  .Footer {
    grid-area: Footer;
  }



  @media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .grid-container {
      display: grid;
      height: 100%;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "Header Header Header"
      "Sidebar Sidebar Sidebar"
      "Content-a Content-a Content-a"
      "Content-b Content-c Content-d"
      "Footer Footer Footer";
    }

    #back-to-top {
      position: fixed;
      bottom: 40px;
      right: 40px;
      z-index: 10;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      background: #4db1e2;
      color: white;
      cursor: pointer;
      border: 0;
      border-radius: 10px;
      text-decoration: none;
      transition: opacity 0.2s ease-out;
      opacity: 0;
  }
  #back-to-top:hover {
      background:#0196DF;
      transition: 0.3s;
  }
  #back-to-top.show {
      opacity: 1;
  }


    ::-webkit-scrollbar {
      width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

    .Header-title{
      position: fixed;
      top: 30px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 22;
      min-height: 55px;
      transition-duration: 0.35s all ease;
      display: block;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0px 6px #000;
      transition: 0.35s all ease;
    }

    .nav-second{
      position: fixed;
      top: 0px;
      width: 100%;
      height: 50px;
      background:#3b8beb;
    }

    #activetitle{
      color:#3b8beb;
      font-weight: 900;
    }

    .progress-container{
      display: none;
    }

    .scrolled .progress-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #ccc;
    display: block;
    transition-duration: 0.35s all ease;
    }

    .scrolled .progress-bar {
    position: absolute;
    bottom: 0;
    height: 5px;
    background: #4db1e2;
    width: 0%;
    display: block;
    }

    .scrolled .nav-second{
      height: 30px;
    }

    .scrolled .nav-second button{
      border-radius: 30px;
      text-align: center;
      width: 200px;
      height: 25px;
      float: left;
      border-style: solid 1px transparent;;
      cursor: pointer;
      background-color: #FFAC12;
      transition: 0.4s;
      color:white;
      margin-left: 30px;
      margin-top: 2px;
    }

    .scrolled .nav-second .nav-second-left h3{
      font-size: 15px;
      margin-top: 5px;
      margin-right: 10px;
    }

    .scrolled .nav-second .nav-second-right h3{
      font-size: 15px;
      margin-top: 5px;

    }

    .nav-second button{
      float: left;
      border-radius: 30px;
      text-align: center;
      width: 200px;
      height: 35px;
      border-style: solid 1px transparent;
      margin-top:7px;
      cursor: pointer;
      background-color: #FFAC12;
      transition: 0.4s;
      color:white;
      margin-left: 10px;
    }

    .nav-second button:hover{
  background-color: #FFBC3F;
  border-color: transparent;
  color: black;
    }

    .nav-second-left h3 {
      font-size: 20px;
      margin-top: 10px;
      margin-right: 0px;
      margin-left: 10px;
      
      color: white;
      letter-spacing: 2px;
    }

    .nav-second-right{
      float: left;
      width: 50%;
    }

    .nav-second-left{
      float: left;
      width: 40%;

    }

    .nav-second-right h3{
      font-size: 20px;
      margin-top: 12px;
      
      color: white;
      letter-spacing: 2px;
      float: left;
    }

    .Header-title h1{
      float: left;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 55px;
      
      font-weight: 900;
      transition: 0.35s all ease;
      display: none;
    }

    .header-logo{
      width: 40%;
      height: 100px;
      margin-left: 0px;
      margin-top: 20px;
    }

    .Header-title h1 a{
      text-decoration: none;
      color: #4db1e2;
    }

    .Header-title ul{
      list-style-type: none;
      float: right;
      width: 60%;
      margin-top: 40px;
      margin-right: 0px;
      font-size: 20px;
      display: block;
      transition: 0.35s all ease;
    }

    .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    }

    .progress-bar {
    height: 8px;
    background: #4db1e2;
    width: 0%;
    }

    .scrolled {
      height: 10px;
      background: #ADD8E6;
      transition-duration: 0.35s all ease;
      display: block;
      background: rgba(255,255,255,1);
      box-shadow: 0 0px 6px #000;
    }
    .scrolled ul {
      margin:0;
      padding: 0;
      transition: 0.2s linear;
      display: block;
      float: right;
    }

    .scrolled ul li{
      padding: 0;
    }
    .scrolled li,.scrolled li a  {
      float: left;
      color: black;
      display: block;
      padding: 0;
      font-weight: 900;
      transition: 0.2s all ease-in-out;
    }

    .scrolled li:hover,.scrolled li a:hover  {
        color: #ff383f;
    }

    .scrolled h1{
      margin-top:5px;
      padding: 0px;
      transition: 0.35s all ease;
      display: block;
      font-size: 35px;
    }

    .scrolled h1 a{
      color: #4db1e2;
    }

    .scrolled .header-logo{
      display: none;
      transition: 0.35s all ease;
    }

    .Header-title ul li:nth-child(-n+7){
      float: left;
      font-size: 15px;
      
      font-weight: 500;
      margin-top: 20px;
      margin-right: 30px;
      cursor: pointer;
      color: white;
      display: block;
    }

    .Header-title ul li:nth-child(-n+7):hover{

      color: #4db1e2;

    }

    .Header-title ul li:nth-child(n+8){
      float: left;
      font-size: 15px;
      
      font-weight: 600;
      display: block;

    }

    .Header-title ul li a{
      text-decoration: none;
      color: black;
      font-weight: 900;
      letter-spacing: 1px;
    }

    .Header-title ul li a:hover{
    color: #4db1e2;
    transition: 0.10s all ease;
  }


    .Header-title ul li button img{
      float: left;
      margin-left: 15px;
      width: 20px;
      height: 15px;
    }

    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: url(image/asd.png) no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    }

  /* Modal Content/Box */
    .modal-content {
    background-color: #fefefe;
    margin:5% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 500px;
    border-radius: 10px;
    }

    .modal-content h3{
      font-size: 35px;
      
      padding: 10px 50px;
    }

    .modal-content form{
      margin-left: 30px;
      margin-top: 30px;
    }

    .modal-content form label{
      
      margin-left: 5px;
      display: block;
      margin-top: 30px;
    }

    .modal-content input{
      border-bottom:2px solid #BEBEBE;
      width: 300px;
      height: 30px;
    }

    .modal-content input:focus{
      border-bottom: 1px solid #88D5E9;
    }

    .modal-content button{
      margin:30px 70px;
      width: 300px;
      height: 30px;
      border-radius: 20px;
      background: #4db1e2;
      color: white;
    }

  /* The Close Button */
    .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .register{
      width: 49.5%;
      height: 100%;
      overflow: auto;
      float: left;
    }

    .register input,.register select{
      margin: 10px;
    }

    .login{
      width: 49.5%;
      float: left;
      height: 100%;
      border-left:1px solid #888;
    }

    .captcha{
      background: red;
      width: 80%;
      height: 100px;
      margin:10px;
      color:white;
      text-align: center;
    }

    .close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    .Sidebar{
      width: 100%;
      height: 350px;
    }
    
     
    .Sidebar img{
        width:100%;
        height:100%;
        object-fit: none;
        object-position: 50% 50%; /* default value: image is centered*/
        object-position: 0 0; /* positioned top left of the content box */
        filter: brightness(1);
        background-repeat:no-repeat;
    }


    .Content-a {
      width: 100%;
      height: 600px;
      background:inherit;
    }

    .Content-a h2{
      padding-left: 160px;
      padding-top: 60px;
      letter-spacing: 1px;
    }

    .Content-a p{
      text-align: center;
      margin: 0px 150px 0px 150px;
      font-size: 18px;
    }

    .contact-cont{
      margin-top: 30px;
      width: 100%;
      height: 150px;
      background: #4db1e2;
    }

  .contact-cont2 h1{
      text-align: center;
      font-size: 30px;
      padding-top: 30px;
      font-weight:400;
      color:white;
    }
 .contact-cont2 h2{
     font-size:25px;
     font-weight:200;
     text-align: center;
 }
    .contact-cont2 button{
      border: none;
      border-radius: 30px;
      border-color: #fff;
      padding: 10px 80px;
      margin-left: 39%;
      margin-top: 30px;
    }



    .Content-b {
      width: 100%;
      height: 700px;
      background:inherit;
    }

    .Content-b h3{
      
      text-align: center;
      margin-left: 30px;
    }

    .Content-b ul{
      list-style-type: none;
      margin-top: 50px;
      margin-left: 0px;
      text-align: center;
    }

    .Content-b li{
      font-size: 20px;
    }


    .Content-c {
      width: 100%;
      height: 700px;
      background:inherit;
    }

    .Content-c h3{
      
      text-align: center;
      margin-left: 30px;
    }

    #activetitle{
      color: #4db1e2;
  }

    .Content-c ul{
      list-style-type: none;
      margin-top: 70px;
      margin-left: 0px;
      text-align: center;
    }

    .Content-c li{
      font-size: 20px;
    }

    .Content-d {
      width: 100%;
      height: 700px;
      background:inherit;
    }

    .Content-d h3{
      
      text-align: center;
      margin-left: 30px;
    }

    .Content-d ul{
      list-style-type: none;
      margin-top: 50px;
      margin-left: 0px;
      text-align: center;
    }

    .Content-d li{
      font-size: 20px;
    }

    #map_canvas{
      margin-top: 25%;
      width: 80%;
      margin-left: 10%;
      height: 300px;
    }

    #map_canvas_2{
      margin-top: 27%;
      width: 80%;
      margin-left: 10%;
      height: 300px;
    }

    #map_canvas_3{
      margin-top: 30%;
      width: 80%;
      margin-left: 10%;
      height: 300px;
    }






    .Footer{
      height: 370px;
      background:#213540;
    }

    .upper-footer{
      height: 90px;
      width: 100%;
      background: #d0d0d0;
    }


    .iconic{
      background: url(image/facebook.svg) no-repeat;
      width:30px; /* Width of new image */
      height: 30px; /* Height of new image */
      margin-top:30px;
      margin-left: 45%;
      margin-right: 50px;
    }

    .iconics{
      background: url(image/icons/gmail.svg) no-repeat;
      width:30px; /* Width of new image */
      height: 30px; /* Height of new image */
      margin-top:30px;
    }

    .right-footer .iconic{
      margin-left: 170px;
      background-color: white;
      border-radius: 10px;
    }

    .right-footer .iconic2{
      margin-left:30px;
      background-color: white;
      border-radius: 10px;
      width: 30px;
      height: 30px;
    }

    .footer-1{
      width: 100%;
      height: 90%;
      background:#213540;

    }


    .left-footer,.middle-footer,.right-footer{
      width: 33.33%;
      height: 100%;
      float: left;
      
    }

    .middle-footer h2{
      font-size: 30px;
      margin-top: 20px;
      margin-left: 100px;
    }

    .middle-footer p{
      margin-left: 50px;
      margin-top: 10px;
    }

    .middle-footer p:nth-child(even){
      float: left;
    }

    .middle-footer p:nth-child(odd){
      float: right;
      margin-right: 10px;
    }

    .right-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
    }

    .left-footer a{
      text-decoration: none;
      color: inherit;
    }

    .left-footer p{
      
      font-size: 15px;
      text-indent: 30px;
      margin-top: 30px;
      margin-left: 50px;
    }

    .left-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
      padding-left: 30px;
    }


    .footer-1{
      color:white;
    }

    .footer-2{
      height: 10%;
      background:#1c2d36;
      text-align: center;
      
      letter-spacing: 2px;
    }

    .footer-2 h3{
      color:white;
      padding-top:10px;

    }

}

  @media only screen and (min-width: 768px) and (max-width: 1024px){

  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "Header Header Header"
    "Sidebar Sidebar Sidebar"
    "Content-a Content-a Content-a"
    "Content-b Content-c Content-d"
    "Footer Footer Footer";
  }

  #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    background: #4db1e2;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background:#0196DF;
    transition: 0.3s;
}
#back-to-top.show {
    opacity: 1;
}


  ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  .Header-title{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 22;
    min-height: 55px;
    transition-duration: 0.35s all ease;
    display: block;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0px 6px #000;
    transition: 0.35s all ease;
  }

  .nav-second{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background:#3b8beb;
  }

  #activetitle{
    color:#3b8beb;
    font-weight: 900;
  }

  .progress-container{
    display: none;
  }

  .scrolled .progress-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #ccc;
  display: block;
  transition-duration: 0.35s all ease;
  }

  .scrolled .progress-bar {
  position: absolute;
  bottom: 0;
  height: 5px;
  background: #4db1e2;
  width: 0%;
  display: block;
  }

  .scrolled .nav-second{
    height: 30px;
  }

  .scrolled .nav-second button{
    border-radius: 30px;
    text-align: center;
    width: 200px;
    height: 25px;
    float: left;
    border-style: solid 1px transparent;;
    cursor: pointer;
    background-color: #ffac12;
    transition: 0.4s;
    color:white;
    margin-left: 30px;
    margin-top: 2px;
  }

  .scrolled .nav-second .nav-second-left h3{
    font-size: 15px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .scrolled .nav-second .nav-second-right h3{
    font-size: 13px;
    margin-top: 5px;

  }

  .nav-second button{
    float: left;
    border-radius: 30px;
    text-align: center;
    width: 200px;
    height: 35px;
    border-style: solid 1px transparent;
    margin-top:7px;
    color:white;
    cursor: pointer;
    background-color: #ffac12;
    transition: 0.4s;
    margin-left: 10px;
  }

  .nav-second button:hover{
background-color: #FFBC3F;
  border-color: transparent;
  color: black;
  }

  .nav-second-left h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 5px;
    
    color: white;
    letter-spacing: 2px;
  }

  .nav-second-right{
    float: left;
    width: 60%;
    height: 100%;
    margin-right: 0px;
  }

  .nav-second-left{
    float: left;
    width: 40%;
    height: 100%;
  }

  .nav-second-right h3{
    font-size: 15px;
    margin-top: 12px;
    
    color: white;
    float: left;
    letter-spacing: 2px;
  }

  .Header-title h1{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 14px;
    
    font-weight: 900;
    transition: 0.35s all ease;
    display: none;
  }

  .header-logo{
    width: 40%;
    height: 70px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .Header-title h1 a{
    text-decoration: none;
    color: #4db1e2;
  }

  .Header-title ul{
    list-style-type: none;
    float: right;
    margin-top: 30px;
    margin-right: 0px;
    width: 60%;
    display: block;
    transition: 0.35s all ease;
  }

  .progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  }

  .progress-bar {
  height: 8px;
  background: #4db1e2;
  width: 0%;
  }

  .scrolled {
    height: 10px;
    background: #ADD8E6;
    transition-duration: 0.35s all ease;
    display: block;
    background: rgba(255,255,255,1);
    box-shadow: 0 0px 6px #000;
  }
  .scrolled ul {
    margin:0;
    padding: 0;
    transition: 0.2s linear;
    display: block;
    float: right;
  }

  .scrolled ul li{
    padding: 0;
  }
  .scrolled li,.scrolled li a  {
    float: left;
    color: black;
    display: block;
    padding: 0;
    font-weight: 900;
    transition: 0.2s all ease-in-out;
  }

  .scrolled li:hover,.scrolled li a:hover  {
      color: #ff383f;
  }

  .scrolled h1{
    margin-top:5px;
    padding: 0px;
    transition: 0.35s all ease;
    display: block;
    font-size: 23px;
  }

  .scrolled h1 a{
    color: #4db1e2;
  }

  .scrolled .header-logo{
    display: none;
    transition: 0.35s all ease;
  }

  .Header-title ul li:nth-child(-n+7){
    float: left;
    font-size: 13px;
    
    font-weight: 500;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    display: block;
  }

  .Header-title ul li:nth-child(-n+7):hover{

    color: #4db1e2;

  }

  .Header-title ul li:nth-child(n+8){
    float: left;
    font-size: 15px;
    
    font-weight: 600;
    display: block;

  }

  .Header-title ul li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .Header-title ul li a:hover{
  color: #4db1e2;
  transition: 0.10s all ease;
}


  .Header-title ul li button img{
    float: left;
    margin-left: 15px;
    width: 20px;
    height: 15px;
  }

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: url(image/asd.png) no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  }

/* Modal Content/Box */
  .modal-content {
  background-color: #fefefe;
  margin:5% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 500px;
  border-radius: 10px;
  }

  .modal-content h3{
    font-size: 35px;
    
    padding: 10px 50px;
  }

  .modal-content form{
    margin-left: 30px;
    margin-top: 30px;
  }

  .modal-content form label{
    
    margin-left: 5px;
    display: block;
    margin-top: 30px;
  }

  .modal-content input{
    border-bottom:2px solid #BEBEBE;
    width: 300px;
    height: 30px;
  }

  .modal-content input:focus{
    border-bottom: 1px solid #88D5E9;
  }

  .modal-content button{
    margin:30px 70px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #4db1e2;
    color: white;
  }

/* The Close Button */
  .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

  .register{
    width: 49.5%;
    height: 100%;
    overflow: auto;
    float: left;
  }

  .register input,.register select{
    margin: 10px;
  }

  .login{
    width: 49.5%;
    float: left;
    height: 100%;
    border-left:1px solid #888;
  }

  .captcha{
    background: red;
    width: 80%;
    height: 100px;
    margin:10px;
    color:white;
    text-align: center;
  }

  .close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }

  .Sidebar{
    width: 100%;
    height: 350px;
  }
   
    .Sidebar img{
        width:100%;
        height:100%;
        object-fit: none;
        object-position: 50% 50%; /* default value: image is centered*/
        object-position: 0 0; /* positioned top left of the content box */
        filter: brightness(1);
        background-repeat:no-repeat;
    }


  .Content-a {
    width: 100%;
    height: 600px;
    background:inherit;
  }

  .Content-a h2{
    
    padding-left: 10%;
    padding-top: 30px;
    letter-spacing: 1px;
  }

  .Content-a p{
    text-align: center;
    margin: 30px 70px;
    font-size: 18px;
  }

  .contact-cont{
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background: #4db1e2;
  }

 .contact-cont2 h1{
      text-align: center;
      font-size: 30px;
      padding-top: 30px;
      font-weight:400;
      color:white;
    }
 .contact-cont2 h2{
     font-size:25px;
     font-weight:200;
     text-align: center;
 }

    .contact-cont2 button{
      border: none;
      border-radius: 30px;
      border-color: #fff;
      padding: 10px 80px;
      margin-left: 39%;
      margin-top: 30px;
    }


  .Content-b {
    width: 100%;
    height: 600px;
    background:inherit;
  }

  .Content-b h3{
    
    text-align: center;
    margin-left: 10px;
  }

  .Content-b ul{
    list-style-type: none;
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }

  .Content-b li{
    font-size: 20px;
  }


  .Content-c {
    width: 100%;
    height: 600px;
    background:inherit;
  }

  .Content-c h3{
    
    text-align: center;
    margin-left: 30px;
  }

  #activetitle{
    color: #4db1e2;
}

  .Content-c ul{
    list-style-type: none;
    margin-top: 70px;
    margin-left: 0px;
    text-align: center;
  }

  .Content-c li{
    font-size: 20px;
  }

  .Content-d {
    width: 100%;
    height: 700px;
    background:inherit;
  }

  .Content-d h3{
    
    text-align: center;
    margin-left: 30px;
  }

  .Content-d ul{
    list-style-type: none;
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }

  .Content-d li{
    font-size: 20px;
  }

  #map_canvas{
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    height: 200px;
  }

  #map_canvas_2{
    margin-top: 27%;
    width: 80%;
    margin-left: 10%;
    height: 200px;
  }

  #map_canvas_3{
    margin-top: 30%;
    width: 80%;
    margin-left: 10%;
    height: 200px;
  }






  .Footer{
    height: 370px;
    background:#213540;
  }

  .upper-footer{
    height: 90px;
    width: 100%;
    background: #d0d0d0;
  }


  .iconic{
    background: url(image/facebook.svg) no-repeat;
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
    margin-left: 45%;
    margin-right: 50px;
  }

  .iconics{
    background: url(image/icons/gmail.svg) no-repeat;
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
  }

  .right-footer .iconic{
    margin-left: 45px;
    background-color: white;
    border-radius: 10px;
  }

  .right-footer .iconic2{
    margin-left:5px;
    background-color: white;
    border-radius: 10px;
    width: 30px;
    height: 30px;
  }

  .footer-1{
    width: 100%;
    height: 90%;
    background:#213540;

  }


  .left-footer,.middle-footer,.right-footer{
    width: 33.33%;
    height: 100%;
    float: left;
    
  }

  .middle-footer h2{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 70px;
  }

  .middle-footer p{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 13px;
  }

  .middle-footer p:nth-child(even){
    float: left;
  }

  .middle-footer p:nth-child(odd){
    float: right;
    margin-right: 10px;
  }

  .right-footer h2{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
  }

  .left-footer a{
    text-decoration: none;
    color: inherit;
  }

  .left-footer p{
    
    font-size: 13px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .left-footer h2{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 10px;
  }


  .footer-1{
    color:white;
  }

  .footer-2{
    height: 10%;
    background:#1c2d36;
    text-align: center;
    
    letter-spacing: 2px;
  }

  .footer-2 h3{
    color:white;
    padding-top:10px;

  }

}

  @media only screen and (min-width: 320px) and (max-width: 425px) {

  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "Header Header Header"
    "Sidebar Sidebar Sidebar"
    "Content-a Content-a Content-a"
    "Content-b Content-b Content-b"
    "Content-c Content-c Content-c"
    "Content-d Content-d Content-d"
    "Footer Footer Footer";
  }

  #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    background: #4db1e2;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    display: block;
}
#back-to-top:hover {
    background:#0196DF;
    transition: 0.3s;
}
#back-to-top.show {
    opacity: 1;
}


  ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  .Header-title{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 22;
    height: 100px;
    transition-duration: 0.35s all ease;
    display: block;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0px 6px #000;
    transition: 0.35s all ease;
  }

  .nav-second{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background:#4db1e2;
  }

  #activetitle{
    background: #4db1e2;
    color: white;
  }

  .progress-container{
    display: none;
  }

  .scrolled .progress-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #ccc;
  display: block;
  transition-duration: 0.35s all ease;
  }

  .scrolled .progress-bar {
  position: absolute;
  bottom: 0;
  height: 5px;
  background: #4db1e2;
  width: 0%;
  display: block;
  }

  .scrolled .nav-second{
    height: 30px;
  }

  .scrolled .nav-second button{
    border-radius: 30px;
    text-align: center;
    width: 200px;
    height: 25px;
    float: left;
    border-style: solid 1px transparent;;
    cursor: pointer;
    background-color: #ff1c12;
    transition: 0.4s;
    color:white;
    margin-left: 30px;
    margin-top: 2px;
  }

  .scrolled .nav-second .nav-second-left h3{
    font-size: 15px;
    margin-top: 5px;
    margin-right: 30px;
  }

  .scrolled .nav-second .nav-second-right h3{
    font-size: 15px;
    margin-top: 5px;

  }

  .nav-second button{
    border-radius: 30px;
    text-align: center;
    width: 200px;
    height: 35px;
    border-style: solid 1px transparent;
    margin-top:7px;
    cursor: pointer;
    background-color: #ffac12;
    transition: 0.4s;
    color:white;
    float:left;
  }

  .nav-second button:hover{
background-color: #FFBC3F;
  border-color: transparent;
  color: black;
  }


    .nav-second-left h3 {
      font-size: 10px;
      margin-top: 15px;
      margin-left: 5px;
      margin-right: 0px;
      color: white;
      letter-spacing: 2px;
    }

    .nav-second-right h3{
      font-size: 10px;
      color: white;
      letter-spacing: 2px;
      margin-top: 10px;
      margin-left: 20px;
      display: none;
    }

    .nav-second-right{
      float: left;
      width:40%;
      height: 100%;
    }

    .nav-second-left{
      float: left;
      width:40%;
      height: 100%;
    }

  .Header-title h1{
    float: left;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 55px;
    font-weight: 900;
    transition: 0.35s all ease;
    display: none;
  }

  .header-logo{
    width: 300px;
    height: 70px;
    margin-left: 0px;
    margin-top: 30px;
  }

  .Header-title h1 a{
    text-decoration: none;
    color: #4db1e2;
  }

  .Header-title ul{
    list-style-type: none;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    font-size: 20px;
    display: none;
    transition: 0.35s all ease;
  }

  .progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  }

  .progress-bar {
  height: 8px;
  background: #4db1e2;
  width: 0%;
  }

  .scrolled {
    height: 10px;
    background: #ADD8E6;
    transition-duration: 0.35s all ease;
    display: none;
    background: rgba(255,255,255,1);
    box-shadow: 0 0px 6px #000;
  }
  .scrolled ul {
    margin-left:30px;
    margin-top:0;
    padding: 0;
    transition: 0.2s linear;
    display: block;
    float: right;
  }

  .scrolled li,.scrolled li a  {
    float: left;
    color: black;
    display: block;
    padding: 0;
    font-weight: 900;
    transition: 0.2s all ease-in-out;
  }

  .scrolled li:hover,.scrolled li a:hover  {
      color: #ff383f;
  }

  .scrolled h1{
    margin-top:5px;
    padding: 0px;
    transition: 0.35s all ease;
    display: block;
    font-size: 35px;
    float:left;
    margin-left:10px;
  }

  .scrolled h1 a{
    color: #4db1e2;
  }

  .scrolled .header-logo{
    display: none;
    transition: 0.35s all ease;
    float:left;
  }

  .Header-title ul li:nth-child(-n+7){
    float: left;
    font-size: 15px;

    font-weight: 500;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    display: block;
  }

  .Header-title ul li:nth-child(-n+7):hover{

    color: #4db1e2;

  }

  .Header-title ul li:nth-child(n+8){
    float: left;
    font-size: 15px;

    font-weight: 600;
    display: block;

  }

  .Header-title ul li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .Header-title ul li a:hover{
  color: #4db1e2;
  transition: 0.10s all ease;
}


  .Header-title ul li button img{
    float: left;
    margin-left: 15px;
    width: 20px;
    height: 15px;
  }

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: url(image/asd.png) no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  }

/* Modal Content/Box */
  .modal-content {
  background-color: #fefefe;
  margin:5% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 500px;
  border-radius: 10px;
  }

  .modal-content h3{
    font-size: 35px;
    
    padding: 10px 50px;
  }

  .modal-content form{
    margin-left: 30px;
    margin-top: 30px;
  }

  .modal-content form label{
    
    margin-left: 5px;
    display: block;
    margin-top: 30px;
  }

  .modal-content input{
    border-bottom:2px solid #BEBEBE;
    width: 300px;
    height: 30px;
  }

  .modal-content input:focus{
    border-bottom: 1px solid #88D5E9;
  }

  .modal-content button{
    margin:30px 70px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #4db1e2;
    color: white;
  }

/* The Close Button */
  .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

  .register{
    width: 49.5%;
    height: 100%;
    overflow: auto;
    float: left;
  }

  .register input,.register select{
    margin: 10px;
  }

  .login{
    width: 49.5%;
    float: left;
    height: 100%;
    border-left:1px solid #888;
  }

  .captcha{
    background: red;
    width: 80%;
    height: 100px;
    margin:10px;
    color:white;
    text-align: center;
  }

  .close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }

  .Sidebar{
    width: 100%;
    height: 350px;
  }
  
   
    .Sidebar img{
        width:100%;
        height:100%;
        object-fit: none;
        object-position: 50% 50%; /* default value: image is centered*/
        object-position: 0 0; /* positioned top left of the content box */
        filter: brightness(1);
        background-repeat:no-repeat;
    }


  .Content-a {
    width: 100%;
    height: 500px;
    background:inherit;
  }

  .Content-a h2{
    
    padding-left: 30px;
    padding-top: 30px;
    letter-spacing: 1px;
  }

  .Content-a p{
    text-align: center;
    margin: 30px 30px;
    font-size: 15px;
    text-indent: 15px;
  }

  .contact-cont{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background: #4db1e2;
  }

    .contact-cont2 h1{
      text-align: center;
      font-size: 30px;
      padding-top: 30px;
    }

    .contact-cont2 button{
      border: none;
      border-radius: 30px;
      border-color: #fff;
      padding: 10px 80px;
      margin-left: 39%;
      margin-top: 30px;
    }


  .Content-b {
    width: 100%;
    height: 700px;
    background:inherit;
  }

  .Content-b h3{
    
    text-align: center;
    margin-left: 30px;
  }

  .Content-b ul{
    list-style-type: none;
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }

  .Content-b li{
    font-size: 20px;
  }


  .Content-c {
    width: 100%;
    height: 700px;
    background:inherit;
  }

  .Content-c h3{
    
    text-align: center;
    margin-left: 30px;
  }

  #activetitle{
    color: #4db1e2;
}

  .Content-c ul{
    list-style-type: none;
    margin-top: 70px;
    margin-left: 0px;
    text-align: center;
  }

  .Content-c li{
    font-size: 20px;
  }

  .Content-d {
    width: 100%;
    height: 700px;
    background:inherit;
  }

  .Content-d h3{
    
    text-align: center;
    margin-left: 30px;
  }

  .Content-d ul{
    list-style-type: none;
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }

  .Content-d li{
    font-size: 20px;
  }

  #map_canvas{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    height: 300px;
  }

  #map_canvas_2{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    height: 300px;
  }

  #map_canvas_3{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    height: 300px;
  }






  .Footer{
    height:700px;
    background:#213540;

  }

  .upper-footer{
    height: 90px;
    width: 100%;
    background: #d0d0d0;
  }


  .iconic{
    background: url(image/facebook.svg) no-repeat;
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
    margin-left: 35%;
    margin-right: 50px;
  }

  .iconics{
    background: url(image/icons/gmail.svg) no-repeat;
    width:30px; /* Width of new image */
    height: 30px; /* Height of new image */
    margin-top:30px;
  }

  .right-footer .iconic{
    margin-left: 100px;
    background-color: white;
    border-radius: 10px;
  }

  .right-footer .iconic2{
    background-color: white;
    border-radius: 10px;
    width: 30px;
    height: 30px;
  }

  .footer-1{
    width: 100%;
    height: 90%;
    background:#213540;

  }


  .left-footer{
    width: 100%;
    height: 40%;

  }

  .right-footer{
    display: none;
  }

  .middle-footer{
    width: 100%;
    height: 60%;
  }

  .middle-footer h2{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 110px;
  }

  .middle-footer p{
    margin-left: 60px;
    margin-top: 10px;
  }

  .middle-footer p:nth-child(even){
    float: left;
  }

  .middle-footer p:nth-child(odd){
    float: right;
    margin-right: 70px;
  }

  .right-footer h2{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }

  .left-footer a{
    text-decoration: none;
    color: inherit;
  }

  .left-footer p{
    font-size: 15px;
    text-indent: 30px;
    margin-top: 30px;
    margin-left: 10px;
  }

  .left-footer h2{
    text-align: left;
    font-size: 30px;
    margin-top: 20px;
    padding-left: 40px;
  }


  .footer-1{
    color:white;
  }

  .footer-2{
    height: 10%;
    background:#1c2d36;
    text-align: center;

    letter-spacing: 2px;
  }

  .footer-2 h3{
    color:white;
    padding-top:10px;

  }
