
.first{
  width: 33%;
  height:300px;
  float:left;
}

.second{
  width: 33%;
  float:left;
  height:300px;
}

.third{
  width: 33%;
  float:left;
  height:300px;
}

.fourth{
  width: 33%;
  float:left;
  height:300px;
}

.fifth{
  width: 33%;
  height:300px;
  float:left;
}

.six{
  width: 33%;
  float:left;
  height:300px;
}

.seven{
  width: 33%;
  float:left;
  height:300px;
}

.eight{
  width: 33%;
  float:left;
  height:300px;
}

.nine{
  width: 33%;
  float:left;
  height:300px;
}

.ten{
  width: 33%;
  float:left;
  height:300px;
}

.eleven{
  width: 33%;
  float:left;
  height:300px;
}

.twelve{
  width: 33%;
  float:left;
  height:300px;
}

.Content-b h1{
    margin:30px 37%;
    font-weight:500;
    font-size:40px;
}


.first h2{
  font-size: 40px;
  margin:30px 50px;
}
.fourth h2{
 font-size: 40px;
 margin:30px 50px;
}
.seven h2{
 font-size: 40px;
 margin:30px 50px;    
}
.ten h2{
 font-size: 40px;
 margin:30px 50px;    
}


.white1 {
  border-radius:30px;
  margin:31px 0 0 30px;
}
.white2 {
  border-radius:30px;
  margin: 115px 0 0 30px;
}
.white3 {
  border-radius:30px;
  margin:115px 0 0 30px;
}
.white4 {
  border-radius:30px;
  margin:30px 0 0 30px;
}
.white5 {
  border-radius:30px;
  margin:115px 0 0 30px;
}
.white6 {
  border-radius:30px;
  margin:115px 0 0 30px;
}
.white7 {
  border-radius:30px;
  margin:30px 0 0 30px;
}
.white8 {
  border-radius:30px;
  margin:110px 0 0 30px;
}
.white9 {
  border-radius:30px;
  margin:110px 0 0 30px;
}
.white10 {
  border-radius:30px;
  margin:30px 0 0 30px;
}
.white11 {
  border-radius:30px;
  margin:110px 0 0 30px;
}
.white12 {
  border-radius:30px;
  margin:110px 0 0 30px;
}



.white1 > * {
  position: absolute;
}
.white1 h3{
  position: absolute;
}
.black_white1 {
  overflow: hidden;
}


.white2 > * {
  position: absolute;
}
.white2 h3{
  position: absolute;
}
.black_white2 {
  overflow: hidden;
}


.white3 > * {
  position: absolute;
}
.white3 h3{
  position: absolute;
}
.black_white3 {
  overflow: hidden;
}

.white4 > * {
  position: absolute;
}
.white4 h3{
  position: absolute;
}
.black_white4 {
  overflow: hidden;
}

.white5 > * {
  position: absolute;
}
.white5 h3{
  position: absolute;
}
.black_white5 {
  overflow: hidden;
}


.white6 > * {
  position: absolute;
}
.white6 h3{
  position: absolute;
}
.black_white6 {
  overflow: hidden;
}


.white7 > * {
  position: absolute;
}
.white7 h3{
  position: absolute;
}
.black_white7 {
  overflow: hidden;
}

.white8 > * {
  position: absolute;
}
.white8 h3{
  position: absolute;
}
.black_white8 {
  overflow: hidden;
}

.white9 > * {
  position: absolute;
}
.white9 h3{
  position: absolute;
}
.black_white9 {
  overflow: hidden;
}

.white10 > * {
  position: absolute;
}
.white10 h3{
  position: absolute;
}
.black_white10 {
  overflow: hidden;
}


.white11 > * {
  position: absolute;
}
.white11 h3{
  position: absolute;
}
.black_white11 {
  overflow: hidden;
}


.white12 > * {
  position: absolute;
}
.white12 h3{
  position: absolute;
}
.black_white12 {
  overflow: hidden;
}

