#status1,#status2,#status3,#status4,#status5,#status6,#status7,#status8{
	color: red;
	font-weight: bold;

}

#astatus1,#astatus2,#astatus3,#astatus4,#astatus5,#astatus6,#astatus7,#astatus8{
	color: green;
	font-weight: bold;

}



