<%- include ('partials/header'); -%>

<div class="container-fluid">
    <div class="row">
        <div class="locations-sidebar col-1">
            <ul class="locations-sidebar-container">
                <li>Dasmarinas</li>
                <li>Langkaan</li>
                <li>Binakayan</li>
            </ul>
        </div>
        <div class="locations-content col-11">
            <div class="locations-containers row">
                    <%- include ('locations/dasmarinas'); -%>
                
            </div>
        </div>
    </div>
</div>

<%- include ('partials/footer'); -%>