<%- include ('partials/header'); -%>
<div class="container">
    <div class="row">
        <div class="services-content d-flex flex-column">
            <div class="services-containers row">
                <div class="col-7 row">
                    <h2>General Dentistry</h2>
                    <p>We are proud to offer a wide array of general dental services and procedures. Our dentists provide all of our services in a luxury environment. You will not find another full service dental office in Phillipines or surrounding areas that provides the same calming and relaxing dental experience.</p>
                    <ul class="col-6">
                        <li>Dentures</li>
                        <li>Emergency Dental Care</li>
                        <li>Family Dentistry</li>
                        <li>Laser Cavity Detection</li>
                        <li>Porcelain Bridges</li>
                    </ul>
                    <ul class="col-6">
                        <li>Porcelain Crowns</li>
                        <li>Porcelain Fillings (Inlays & Onlays)</li>
                        <li>Reversing Cavities</li>
                        <li>Root Canal Therapy</li>
                        <li>Sealants</li>
                    </ul>
                </div>
                <div class="col-5" style="background-color: red;">

                </div>
            </div>
            <div class="services-containers row">
                <div class="col-7 row">
                    <h2>Cosmetic Dentistry</h2>
                    <p>We are proud to offer sedation dentistry for our patients who experience anxiety at the dentists. Our doctors stay up to date on the latest advancements in medicine so we can provide a range of options depending your each patient’s specific needs.</p>
                    <ul class="col-6">
                        <li>Bonding</li>
                        <li>Crowns</li>
                        <li>Gum Lift & Contouring</li>
                        <li>Full Mouth Rehab</li>
                        <li>Invisalign</li>
                    </ul>
                    <ul class="col-6">
                        <li>KOR Whitening</li>
                        <li>No-Prep Veneers/Lumineers</li>
                        <li>Porcelain Veneers</li>
                        <li>Teeth Whitening</li>
                    </ul>
                </div>
                <div class="col-5" style="background-color: red;">
                    
                </div>
            </div>
            <div class="services-containers row">
                <div class="col-7 row">
                    <h2>Restorative Dentistry</h2>
                    <p>Our dentists are dedicated to providing the very best restorative dental care. We are passionate about helping your smile be the best it can be!</p>
                    <ul class="col-12">
                        <li>Dentures</li>
                        <li>Bridges</li>
                        <li>Dental Crowns</li>
                        <li>Dental Implants</li>
                    </ul>
                </div>
                <div class="col-5" style="background-color: red;">

                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer'); -%>