*{
  padding: 0px;
  margin: 0px;
  border: none;
}

body{
  background-color: #F8F8FF;
}


@font-face{
  font-family: it1;
  src: url(/fonts/Didot_Regular.ttf);
}

@font-face{
  font-family: it2;
  src: url(/fonts/Futur.ttf);
}

@font-face{
  font-family: it3;
  src: url(/fonts/FuturL.ttf);
}

@font-face{
  font-family: it4;
  src: url(/fonts/AvantGardeLT-ExtraLight.otf);
}


.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "Sidebar Sidebar Sidebar"
  "Content-a Content-a Content-a"
  "Content-b Content-b Content-b"
  "Content-c Content-c Content-c"
  "Footer Footer Footer";
}

.Header {
  grid-area: Header;
}

.Header-title{
  background: none;
  min-height: 55px;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 12;
  transition: 0.35s all ease;
}

.Header-title h1{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
  font-family: it4;
  font-weight: 900;
  transition: 0.35s all ease;
}

.Header-title h1 a{
  text-decoration: none;
  color: white;
}

.Header-title ul{
  list-style-type: none;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 20px;
  display: none;
  transition: 0.35s all ease;

}

.scrolled {
  height: 10px;
  background: #ADD8E6;
  transition-duration: 0.35s all ease;
  display: block;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0px 6px #000;
}
.scrolled ul {
  margin:0px;
  padding: 0px;
  transition: 0.2s linear;
  display: block;
}
.scrolled li,.scrolled li a  {
  color: black;
  display: block;
  font-weight: 900;
  transition: 0.2s all ease-in-out;
}

.scrolled li:hover,.scrolled li a:hover  {
    color: #ff383f;
}

.scrolled h1{
  margin-top:10px;
  padding: 0px;
  transition: 0.35s all ease;
  display: block;
}

.scrolled h1 a{
  color: #4db1e2;
}


  .Header-title ul li:nth-child(-n+5){
    float: left;
    margin-right: 30px;
    font-size: 15px;
    font-family: it4;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    display: none;

  }

  .Header-title ul li:nth-child(-n+5):hover{

    color: #ff383f;
  }

  .Header-title ul li:nth-child(n+6){
    float: left;
    margin-right: 30px;
    font-size: 15px;
    font-family: it1;
    font-weight: 600;
    display: none;


  }

  .Header-title ul li a{
    text-decoration: none;

  }

  .Header-title ul li button{
    text-align: center;
    width: 150px;
    height: 40px;
    float: left;
    border-style: solid 1px transparent;
    margin-top:7px;
    cursor: pointer;
    background-color: #efefef;
    transition: 0.4s;

  }

  .Header-title ul li button:hover{
    background-color: #caebf2;
    border-color: transparent;
  }


  .Header-title ul li button img{
    float: left;
    margin-left: 15px;
    width: 20px;
    height: 15px;
  }

  .Sidebar {
    grid-area: Sidebar;
  }
  .Content-a {
    grid-area: Content-a;
  }

  .Content-b {
    grid-area: Content-b;
  }
  .Content-c {
    grid-area: Content-c;
  }
  .Footer {
    grid-area: Footer;
  }



  @media screen and (min-width: 768px) {

    .grid-container {
      display: grid;
      height: 100%;
      grid-template-columns:100px 350px 1fr 1fr 100px;
      grid-template-rows: auto;
      grid-template-areas:
      "Header Header Header Header Header"
      "Sidebar Sidebar Sidebar Sidebar Sidebar"
      ". Content-a Content-b Content-b Content-b"
      ". Content-a Content-b Content-b Content-b"
      ". Content-c Content-c Content-c ."
      "Footer Footer Footer Footer Footer";
    }



    .Header-title{
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 22;
      min-height: 55px;
      background: #ADD8E6;
      transition-duration: 0.35s all ease;
      display: block;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0px 6px #000;
      transition: 0.35s all ease;
    }

    .progress-container{
      display: none;
    }

    .scrolled .progress-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: #ccc;
    display: block;
    }

    .scrolled .progress-bar {
    position: absolute;
    bottom: 0;
    height: 8px;
    background: #4db1e2;
    width: 0%;
    }

    .Header-title h1{
      float: left;
      margin-top: 20px;
      margin-left: 90px;
      font-size: 55px;
      font-family: it4;
      font-weight: 900;
      transition: 0.35s all ease;
      display: block;
    }

    .Header-title h1 a{
      text-decoration: none;
      color: #4db1e2;
    }

    .Header-title ul{
      list-style-type: none;
      float: right;
      margin-top: 20px;
      margin-right: 90px;
      font-size: 20px;
      display: block;
      transition: 0.35s all ease;

    }

    .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    }

    .progress-bar {
    height: 8px;
    background: #4db1e2;
    width: 0%;
    }

    .scrolled {
      height: 10px;
      background: #ADD8E6;
      transition-duration: 0.35s all ease;
      display: block;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0px 6px #000;
    }
    .scrolled ul {
      margin:0px;
      padding: 0px;
      transition: 0.2s linear;
      display: block;
    }
    .scrolled li,.scrolled li a  {
      display: block;
      font-weight: 900;
      transition: 0.2s all ease-in-out;
    }

    .scrolled li:hover,.scrolled li a:hover  {
        color: #ff383f;
    }

    .scrolled h1{
      margin-top:5px;
      padding: 0px;
      transition: 0.35s all ease;
      display: block;
      font-size: 35px;
    }

    .scrolled h1 a{
      color: #4db1e2;
    }

    .Header-title ul li:nth-child(-n+7){
      float: left;
      margin-right: 30px;
      font-size: 15px;
      font-family: it4;
      font-weight: 500;
      margin-top: 20px;
      cursor: pointer;
      color: white;
      display: block;

    }

    .Header-title ul li:nth-child(-n+7):hover{

      color: #ff383f;
    }

    .Header-title ul li:nth-child(n+8){
      float: left;
      margin-right: 30px;
      margin-top: 5px;
      font-size: 15px;
      font-family: it1;
      font-weight: 600;
      display: block;
      border:1px solid #fff;
      background: #4db1e2;
      padding: 10px;


    }

    .Header-title ul li a{
      text-decoration: none;
      color: black;
      font-weight: 900;
    }

    .Header-title ul li a:hover{
    color: #ff383f;
  }

    .Header-title ul li button{
      text-align: center;
      width: 150px;
      height: 40px;
      float: left;
      border-style: solid 1px transparent;
      margin-top:7px;
      cursor: pointer;
      background-color: #efefef;
      transition: 0.4s;

    }

    .Header-title ul li button:hover{
      background-color: #caebf2;
      border-color: transparent;
    }


    .Header-title ul li button img{
      float: left;
      margin-left: 15px;
      width: 20px;
      height: 15px;
    }


    .Sidebar{
      width: 100%;
      height: 250px;
      background: url(image/blog.jpg);
      object-fit: fill;
      background-position: center;
      filter: brightness(0.5);
    }


    .Content-a {
      width: 100%;
      height: 700px;
      background:inherit;
      margin-top: 20px;
    }

    .account-carda{
      width: 100%;
      height: 400px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    .account-carda h2{
      font-size: 30px;
      letter-spacing: 3px;
      padding-top:35px;
      padding-left:20px;
      text-transform: uppercase;
      font-family: it4;
    }

    .account-carda h3{
      margin-left: 30px;
      margin-top: 30px;
    }

    .account-carda button{
      margin-left: 50px;
      width: 250px;
      height: 30px;
      margin-top: 100px;
      border-radius: 30px;
      background: #4db1e2;
      color: white;
    }

    .account-cardb{
      width: 100%;
      height: 400px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      margin-top: 50px;
    }



    .account-cardb h2{
      font-size: 30px;
      letter-spacing: 3px;
      padding-left:10px;
      text-transform: uppercase;
      font-family: it4;
      padding-top: 35px;
    }

    .Content-b {
      width: 100%;
      height: 1000px;
      background:inherit;
    }

    .account-card2{
      width: 90%;
      margin:30px 50px;
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    .header{
      width: 100%;
      height: 58px;
    }

    .header ul{
      list-style-type: none;

    }

    .header ul li{
      float: left;

    }

    .header ul li button{
      text-decoration: none;
      color: white;
      padding: 21px 86px;
      background: #4db1e2;
      height: 100%;
      cursor: pointer;
    }

    .header .a{
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }

    .header .b{
      border-bottom: 1px solid #fff;
    }

    .header .c{
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }

    .container{
      width: 100%;
      margin-top:0px;
      height: 100%;
    }




    .Footer{
      height: 210px;
      background:#213540;
    }

    .upper-footer{
      height: 90px;
      width: 100%;
      background: #d0d0d0;
    }

    .upper-footer a{
      margin-left: 50%;

    }

    .iconic{
      background: url(image/facebook.svg) no-repeat;
      width:30px; /* Width of new image */
      height: 30px; /* Height of new image */
      margin-top:30px;

    }


    .footer-1{
      width: 100%;
      height: 100%;
      background:#213540;
    }
    .left-footer{

    }
    .right-footer{

    }

    .left-footer,.middle-footer,.right-footer{
      width: 33.33%;
      height: 100%;
      float: left;
      font-family: it4;
    }

    .middle-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
    }

    .right-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
    }


    .middle-footer p{
      font-size: 15px;
      text-indent: 30px;
      margin-top: 30px;
      margin-left: 90px;
    }

    .left-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
    }

    .left-footer p{
      font-size: 15px;
      text-indent: 30px;
      margin-top: 20px;
    }

    .footer-1{
      color:white;
    }

    .footer-2{
      height: 10%;
      background:#1c2d36;
      text-align: center;
    }

    .footer-2 h3{
      color:white;

    }
