*{
  padding: 0px;
  margin: 0px;
  border: none;
}

body{
  background-color: #F8F8FF;
}


@font-face{
  font-family: it1;
  src: url(/fonts/Didot_Regular.ttf);
}

@font-face{
  font-family: it2;
  src: url(/fonts/Futur.ttf);
}

@font-face{
  font-family: it3;
  src: url(/fonts/FuturL.ttf);
}

@font-face{
  font-family: it4;
  src: url(/fonts/AvantGardeLT-ExtraLight.otf);
}


.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "Sidebar Sidebar Sidebar"
  "Content-a Content-a Content-a"
  "Content-b Content-b Content-b"
  "Content-c Content-c Content-c"
  "Footer Footer Footer";
}

.Header {
  grid-area: Header;
}

.Header-title{
  background: none;
  min-height: 55px;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 12;
  transition: 0.35s all ease;
}

.Header-title h1{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
  font-family: it4;
  font-weight: 900;
  transition: 0.35s all ease;
}

.Header-title h1 a{
  text-decoration: none;
  color: white;
}

.Header-title ul{
  list-style-type: none;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 20px;
  display: none;
  transition: 0.35s all ease;

}

.scrolled {
  height: 10px;
  background: #ADD8E6;
  transition-duration: 0.35s all ease;
  display: block;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0px 6px #000;
}
.scrolled ul {
  margin:0px;
  padding: 0px;
  transition: 0.2s linear;
  display: block;
}
.scrolled li,.scrolled li a  {
  color: black;
  display: block;
  font-weight: 900;
  transition: 0.2s all ease-in-out;
}

.scrolled li:hover,.scrolled li a:hover  {
    color: #ff383f;
}

.scrolled h1{
  margin-top:10px;
  padding: 0px;
  transition: 0.35s all ease;
  display: block;
}

.scrolled h1 a{
  color: #4db1e2;
}


  .Header-title ul li:nth-child(-n+5){
    float: left;
    margin-right: 30px;
    font-size: 15px;
    font-family: it4;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    display: none;

  }

  .Header-title ul li:nth-child(-n+5):hover{

    color: #ff383f;
  }

  .Header-title ul li:nth-child(n+6){
    float: left;
    margin-right: 30px;
    font-size: 15px;
    font-family: it1;
    font-weight: 600;
    display: none;


  }

  .Header-title ul li a{
    text-decoration: none;

  }

  .Header-title ul li button{
    text-align: center;
    width: 150px;
    height: 40px;
    float: left;
    border-style: solid 1px transparent;
    margin-top:7px;
    cursor: pointer;
    background-color: #efefef;
    transition: 0.4s;

  }

  .Header-title ul li button:hover{
    background-color: #caebf2;
    border-color: transparent;
  }


  .Header-title ul li button img{
    float: left;
    margin-left: 15px;
    width: 20px;
    height: 15px;
  }

  .Sidebar {
    grid-area: Sidebar;
  }
  .Content-a {
    grid-area: Content-a;
  }

  .Content-b {
    grid-area: Content-b;
  }
  .Content-c {
    grid-area: Content-c;
  }
  .Content-d {
    grid-area: Content-d;
  }
  .Content-e {
    grid-area: Content-e;
  }

  .Footer {
    grid-area: Footer;
  }



  @media screen and (min-width: 768px) {

    .grid-container {
      display: grid;
      height: 100%;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "Header Header Header"
      "Sidebar Sidebar Sidebar"
      "Content-a Content-a Content-a"
      "Content-b Content-c Content-d"
      "Footer Footer Footer";
    }



    .Header-title{
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 22;
      min-height: 55px;
      background: #ADD8E6;
      transition-duration: 0.35s all ease;
      display: block;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0px 6px #000;
      transition: 0.35s all ease;
    }

    .nav-second{
      position: fixed;
      top: 0px;
      width: 100%;
      height: 50px;
      background:#3B9FCF;
    }

    .scrolled .progress-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: #ccc;
    }

    .scrolled .progress-bar {
    position: absolute;
    bottom: 0;
    height: 8px;
    background: #4db1e2;
    width: 0%;
    }

    .nav-second div{
      float: left;
    }

    .nav-second button{
      float: left;
      border-radius: 30px;
      text-align: center;
      width: 200px;
      height: 35px;
      float: left;
      border-style: solid 1px transparent;
      margin-top:7px;
      cursor: pointer;
      background-color: #efefef;
      transition: 0.4s;
      margin-left: 30px;
    }

    .nav-second button:hover{
      background-color: #caebf2;
      border-color: transparent;
    }

    .nav-second-left h3 {
      font-size: 25px;
      margin-top: 10px;
      margin-right: 100px;
      margin-left: 300px;
      font-family: it3;
      color: white;
      letter-spacing: 2px;
    }

    .nav-second-right{
      float: right;
      margin-right: 10px;
    }

    .nav-second-right h3,.nav-second-right a{
      float: left;
    }

    .nav-second-right h3{
      font-size: 20px;
      margin-top: 12px;
      font-family: it3;
      color: white;
      letter-spacing: 2px;
    }

    .Header-title h1{
      float: left;
      margin-top: 20px;
      margin-left: 90px;
      font-size: 55px;
      font-family: it4;
      font-weight: 900;
      transition: 0.35s all ease;
      display: block;
    }

    .Header-title h1 a{
      text-decoration: none;
      color: #4db1e2;
    }

    .Header-title ul{
      list-style-type: none;
      float: right;
      margin-top: 20px;
      margin-right: 90px;
      font-size: 20px;
      display: block;
      transition: 0.35s all ease;

    }

    .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    }

    .progress-bar {
    height: 8px;
    background: #4db1e2;
    width: 0%;
    }

    .scrolled {
      height: 10px;
      background: #ADD8E6;
      transition-duration: 0.35s all ease;
      display: block;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0px 6px #000;
    }
    .scrolled ul {
      margin:0px;
      padding: 0px;
      transition: 0.2s linear;
      display: block;
    }
    .scrolled li,.scrolled li a  {
      color: black;
      display: block;
      font-weight: 900;
      transition: 0.2s all ease-in-out;
    }

    .scrolled li:hover,.scrolled li a:hover  {
        color: #ff383f;
    }

    .scrolled h1{
      margin-top:5px;
      padding: 0px;
      transition: 0.35s all ease;
      display: block;
      font-size: 35px;
    }

    .scrolled h1 a{
      color: #4db1e2;
    }

    .Header-title ul li:nth-child(-n+7){
      float: left;
      margin-right: 30px;
      font-size: 15px;
      font-family: it4;
      font-weight: 500;
      margin-top: 20px;
      cursor: pointer;
      color: white;
      display: block;

    }

    .Header-title ul li:nth-child(-n+7):hover{

      color: #ff383f;
    }

    .Header-title ul li:nth-child(n+8){
      float: left;
      margin-right: 30px;
      font-size: 15px;
      font-family: it1;
      font-weight: 600;
      display: block;


    }

    .Header-title ul li a{
      text-decoration: none;
      color: black;
      font-weight: 900;
    }

    .Header-title ul li a:hover{
    color: #ff383f;
  }

    .Header-title ul li button{
      text-align: center;
      width: 150px;
      height: 40px;
      float: left;
      border-style: solid 1px transparent;
      margin-top:7px;
      cursor: pointer;
      background-color: #efefef;
      transition: 0.4s;

    }

    .Header-title ul li button:hover{
      background-color: #caebf2;
      border-color: transparent;
    }


    .Header-title ul li button img{
      float: left;
      margin-left: 15px;
      width: 20px;
      height: 15px;
    }

    .Sidebar{
      width: 100%;
      height: 350px;
      background: url(image/contactbanner.png);
      filter: brightness(0.9);
      background-size: cover;
    }


    .Content-a {
      width: 100%;
      height: 500px;
      background:inherit;
    }

    .Content-a h2{
      font-family:it3;
      font-size: 50px;
      padding-left: 300px;
      padding-top: 30px;
      letter-spacing: 1px;
    }

    .Content-a p{
      text-align: center;
      margin: 30px 150px;
      font-size: 18px;
    }

    .contact-cont{
      margin-top: 100px;
      width: 100%;
      height: 150px;
      background: #4db1e2;
    }

    .contact-cont h1{
      text-align: center;
      font-family: it3;
      font-size: 30px;
      padding-top: 30px;
    }

    .contact-cont button{
      border: none;
      border-radius: 30px;
      border-color: #fff;
      padding: 10px 80px;
      margin-left: 41%;
      margin-top: 30px;
    }



    .Content-b {
      width: 100%;
      height: 700px;
      background:inherit;
    }

    .Content-b h3{
      font-family: it3;
      text-align: left;
      margin-left: 50px;
    }

    .Content-b ul{
      list-style-type: none;
      margin-top: 50px;
      margin-left: 50px;
    }

    .Content-b li{
      font-size: 20px;
    }


    .Content-c {
      width: 100%;
      height: 700px;
      background:inherit;
    }

    .Content-c h3{
      font-family: it3;
      text-align: left;
      margin-left: 50px;
    }

    .Content-c ul{
      list-style-type: none;
      margin-top: 50px;
      margin-left: 50px;
    }

    .Content-c li{
      font-size: 20px;
    }

    .Content-d {
      width: 100%;
      height: 700px;
      background:inherit;
    }

    .Content-d h3{
      font-family: it3;
      text-align: left;
      margin-left: 50px;
    }

    .Content-d ul{
      list-style-type: none;
      margin-top: 50px;
      margin-left: 50px;
    }

    .Content-d li{
      font-size: 20px;
    }

    #map_canvas{
      margin-top: 30px;
      width: 80%;
      margin-left: 10%;
      height: 300px;
    }

    #map_canvas_2{
      margin-top: 30px;
      width: 80%;
      margin-left: 10%;
      height: 300px;
    }

    #map_canvas_3{
      margin-top: 30px;
      width: 80%;
      margin-left: 10%;
      height: 300px;
    }






    .Footer{
      height: 250px;
      background:#213540;
    }

    .upper-footer{
      height: 90px;
      width: 100%;
      background: #d0d0d0;
    }

    .upper-footer a{
      margin-left: 50%;

    }

    .iconic{
      background: url(image/facebook.svg) no-repeat;
      width:30px; /* Width of new image */
      height: 30px; /* Height of new image */
      margin-top:30px;

    }

    .footer-1{
      width: 100%;
      height: 90%;
      background:#213540;

    }


    .left-footer,.middle-footer,.right-footer{
      width: 33.33%;
      height: 100%;
      float: left;
      font-family: it4;
    }

    .middle-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
    }

    .right-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
    }

    .middle-footer a{
      text-decoration: none;
      color: inherit;
    }

    .middle-footer p{
      font-size: 15px;
      text-indent: 30px;
      margin-top: 30px;
      margin-left: 160px;
    }

    .left-footer h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
      padding-left: 30px;
    }

    .left-footer p{
      font-family: it3;
      font-size: 15px;
      text-indent: 20px;
      margin-top: 20px;
      padding-left: 50px;
      text-transform: lowercase;
    }

    .footer-1{
      color:white;
    }

    .footer-2{
      height: 10%;
      background:#1c2d36;
      text-align: center;
      font-family: it4;
      letter-spacing: 2px;
    }

    .footer-2 h3{
      color:white;

    }
